{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="../check-your-business-type" method="post">

      <span class="govuk-caption-l">Upload finanacial evidence</span>
      

      <h1 class="govuk-heading-xl">You have added 1 financial evidence file</h1>
<div class="govuk-form-group">

  <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        <strong>Bank statement</strong>  <a class="govuk-link govuk-!-margin-left-5" href="">Financial evidence 1.pdf</a> <!--<span class=" govuk-!-margin-left-4">£17,000</span> -->
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
        </ul>
      </dd>
    </div>
   
  </dl>

</div>
<form method="post" novalidate action="">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add further evidence?
      </legend>
      <div id="add-another-hint" class="govuk-hint">

      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>



  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
     save and continue
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Save and come back later
    </button>
  </div>

    </form>

  </div>

</div>



</main>

{% endblock %}