{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <!-- <h1 class="govuk-heading-xl">
    Unbranded page template
  </h1>
  <p class="govuk-body-l">
    This page doesn't use New Transport or display the GOV.UK header and footer.
  </p> -->
<a href="water-grant-guidance.html">
  <img src="/public/images/Google-Search-Water-Grant-02.png" alt="Mock-up of Google Search Results page for 'reservoir grant' search." width="1024">
</a>
{% endblock %}
