{% extends "layouts/main-application-round-2.html" %}

{% set pageName="How to apply for the Water Management Grant Round 3" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Farming and food grants and payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Rural grants and payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Water Management Grant Round 3</a>
    </li>
  </ol>
</div>

<br>

<img src="/public/images/rpa_logo.png" style="scale: 100%;" alt="logo of the rural payment agency">

<br><br><br>

<style>
  .blue-box {
    background-color: #1D70B8; /* Blue color */
    height: 240px; /* Adjust the height as needed */
    width: 900px; 
    color: white; /* Text color */
    padding: 30px; /* Spacing around the text */
  }

  .contents-list li{
    font-size: 1rem;
  }

</style>
</head>
<body>

<div class="blue-box">
  <p class="govuk-body-l" style="color: white;">Guidance</p>
  <h1 class="govuk-heading-xl" style="color: white;">How to apply for the Water Management Grant Round 3</h1>
  <p class="govuk-body" style="color: white;">Updated 29 August 2023</p>
</div>

</body>

<br><br>

    <div style="width: 960px; height: 56px; position: relative; background: #F3F2F1;">
      <p class="govuk-body" style="margin-top: 15px; position: absolute; left: 40px;"><strong>Applies to England</strong></p>
    </div>
    
<br>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s">Contents</p>
        <ul class="govuk-list contents-list">
          <li>
            <a class="govuk-link" href="#link01">Stage 1: check you’re eligible</a>
          </li>
          <li>
            <a class="govuk-link" href="#link02">Stage 2: make a full application</a>
          </li>
          <li>
            <a class="govuk-link" href="#link03">What information you need to provide</a>
          </li>
          <li>
            <a class="govuk-link" href="#link04">How your application is assessed</a>
          </li>
          <li>
            <a class="govuk-link" href="#link05">When you’ll find out if you’re successful</a>
          </li>
          <li>
            <a class="govuk-link" href="#link06">Contact RPA</a>
          </li>
        </ul>
      </div>


      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">The Water Management Grant Round 3 is competitive and you will not automatically get a grant.</p>
        <p class="govuk-body">You must accept a grant funding agreement (GFA) for a Water Management Grant Round 3. You must have also reached the project start date shown in the GFA before you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>start work</li>
          <li>commit to any costs (including paying deposits)</li>
          <li>enter into any legal contracts</li>
          <li>place an order</li>
        </ul>
        <p class="govuk-body">Any costs you incur prior to this are at your own risk and may make your whole project ineligible.</p>
        <p class="govuk-body">The application is a 2-stage process.</p>

        <br><br><br>


        <h2 class="govuk-heading-l" id="link01">Stage 1: check you’re eligible</h2>
        <p class="govuk-body">Use the online checker to check if you can apply for a Water Management Grant Round 3 and to check how well your project fits the funding priorities. This process will take about 20 minutes if you have all the project details.</p>
        <p class="govuk-body">The online checker opens on 1 January 2024 and closes at 23:59pm on 31 January 2024.</p>


      <br><br>

      <h3 class="govuk-heading-m">What information you need to provide</h3>
      <p class="govuk-body">You will need to answer questions about your business so that RPA can check you are eligible to apply, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what crops you will be growing and irrigating as a result of the project</li>
        <li>the project location</li>
        <li>whether the planned project is on land the applicant business owns, or if there is a tenancy agreement</li>
        <li>details of any required planning permission and/or abstraction licence(s)</li>
      </ul>
      <p class="govuk-body">The information you provide should help us build a picture of the whole business and not just the activity happening specifically at the project location.</p>
      <p class="govuk-body">You will need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what grant funded items are required for your project</li>
        <li>the estimated cost of the items</li>
      </ul>
      <p class="govuk-body">You should also read the <a href="#">Eligible costs section in the About the Water Management Grant Round 3 guidance</a> on GOV.UK.</p>
      <p class="govuk-body">RPA will tell you if your project is not eligible and you will not be able to complete the online application.</p>
      <p class="govuk-body">If your project is eligible, RPA will ask you more questions to see how well it meets the scheme priorities.</p>
      <p class="govuk-body">You’ll be asked about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the impact your project will have</li>
        <li>what main crops you will irrigate</li>
        <li>if the area of irrigated land will change</li>
        <li>if your water source will change</li>
        <li>if your irrigation system will change</li>
        <li>how the project will improve productivity</li>
        <li>if you will supply water to other farms as well as irrigating your own crops</li>
      </ul>
      <p class="govuk-body">You can submit your project details and register your interest if you wish to proceed. We will need your contact and business details. You should only submit one online application for your project.</p>
      <p class="govuk-body">RPA will review the information you provide using the online checker and will share it with the Environment Agency, to check the details of your planned project.</p>
      <p class="govuk-body">RPA will email you with your score and answers, and a reference number. If your project scores highly enough against the funding priorities, you’ll be invited to submit a full application. RPA will send you a full application form and guidance about how to fill it in.</p>
      <p class="govuk-body">If your project did not score highly enough, you will not be able to submit a full application.</p>
      <p class="govuk-body">You cannot submit a full application without going through Stage 1 and getting a project number.</p>
      <p class="govuk-body">You can withdraw your application at any time, but you must let RPA know.</p>
      <p class="govuk-body"><a href="../eoi/v2-0/">Check if you can apply for a Water Management grant Round 3</a></p>


      <br><br><br>

      <h2 class="govuk-heading-l" id="link02">Stage 2: make a full application</h2>
      <p class="govuk-body">RPA will invite you to make a full application and send you an application form if your Stage 1: online application scores highly enough against the funding priorities.</p>
      <p class="govuk-body">You will need to fill in the full application form and email it with your supporting documents to <a href="#">ftf@rpa.gov.uk</a>.</p>
      <p class="govuk-body">RPA must receive your full application and supporting documents by 23:59pm on 31 October 2024.</p>
      <p class="govuk-body">If you do not submit a full application by this date, your application will be withdrawn.</p>
      <p class="govuk-body">RPA will assess value for money alongside the funding priorities. This may affect your overall project score.</p>
      <p class="govuk-body">You will be competing for funding so the success of your full application will also depend on the number and value of other applications received. Not all applications will be awarded a grant.</p>

      <br><br>
      <h3 class="govuk-heading-m">What you'll need for your full application</h3>
      <p class="govuk-body">You will need to provide more details about your project in your full application.</p>
      <p class="govuk-body">Use the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>same project that you used in your Stage 1: online application</li>
        <li>project number provided by RPA in your invitation to apply for a full application email</li>
      </ul>
      <p class="govuk-body">We know that some minor project details may change since you completed the online application, for example, changes to project costs as they are finalised. However, the main details of your project should not be significantly different to your online application. As this is a competitive scheme, any changes may result in us no longer being able to support your project.</p>
      <p class="govuk-body">You should contact RPA by email <a href="#">ftf@rpa.gov.uk</a> before you submit your full application if you need to discuss significant changes to your online application.</p>

      <br><br><br>
      <h2 class="govuk-heading-l" id="link03">What information you need to provide</h2>
      <p class="govuk-body">The full application is in 2 parts: a Word form and an Excel spreadsheet.</p>
      <p class="govuk-body">You’ll need to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about you, your business and project</li>
        <li>a breakdown of project costs</li>
        <li>supplier details</li>
        <li>project milestones</li>
        <li>proposed outputs for the project</li>
        <li>a financial impact forecast</li>
        <li>an explanation of how the project will be funded</li>
        <li>a demonstration of how your project will make your business more efficient and improve its productivity</li>
        <li>details of your current and proposed water usage and water sources</li>
        <li>details of previous similar grants to your business</li>
        <li>details of your land usage, what crops you are growing and how these are currently irrigated and how this might change as a result of your project</li>
        <li>planning permission – if your project requires planning permission, this must be in place before you submit your full application</li>
        <li>abstraction licence(s) – if your project requires an abstraction licence(s), this must be in place before you submit your full application</li>
      </ul>


      <br><br>
      <h3 class="govuk-heading-m">Evidence of your planning permission</h3>
      <p class="govuk-body">The following activities will require planning permission:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>construction of a reservoir</li>
        <li>enlargement to a reservoir</li>
        <li>construction of a pump house</li>
      </ul>
      <p class="govuk-body">Grant funding cannot be offered to any project which does not have the relevant planning permission.</p>
      <p class="govuk-body">Construction of smaller reservoirs may be possible through prior notification. For larger reservoirs, you will need to apply for planning permission through the full planning application process to the Local Planning Authority (LPA).</p>
      <p class="govuk-body">You must submit the approved planning permission document for your project with your full application.</p> 
      <p class="govuk-body">Without these documents, your grant application will be considered ineligible and will be withdrawn from the scheme.</p>


      <br><br>
      <h3 class="govuk-heading-m">Abstraction licence requirements</h3>
      <p class="govuk-body">You must submit the relevant abstraction licence(s) for your project with your full application. Read the apply for a water abstraction or impounding licence guidance on GOV.UK.</p>
      <p class="govuk-body">Your abstraction licence must allow you to abstract as proposed and must correspond with the details in your application.</p>
      <p class="govuk-body">Without these documents, your grant application will be considered ineligible and will be withdrawn from the scheme.</p>


      <br><br>
      <h3 class="govuk-heading-m">Other supporting documents</h3>
      <p class="govuk-body">You will need to provide the following supporting documents, if relevant to your project:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a copy of a signed and dated tenancy agreement with the owner(s) of the land at the project location, if you do not own it</li>
        <li>financial accounts for the most recent 3 years of trading</li>
        <li>latest tax returns, management accounts or a statement of income and expenses from an accountant (if you are a new business or self-employed)</li>
        <li>financial and production projections</li>
        <li>relevant permissions and consents in addition to planning permission and abstraction licence(s)</li>
        <li>3 quotes from catalogue listings or formal tenders for each item valued at £5,000 or more</li>
        <li>1 quote for any item or group of items valued up to £4,999.99</li>
        <li>evidence of project funding</li>
        <li>confirmation from the supplier of any second-hand item that it is expected to last for at least 5 years, is fit for purpose and has not received previous grant funding</li>
        <li>details and draft agreement between parties where a joint venture is proposed</li>
        <li>evidence where you are eligible to, and intend to, include irrecoverable VAT in your project costs (such as a letter from a Chartered Accountant or HMRC)</li>
        <li>letters of support from third parties, where water is to be supplied to other growers</li>
        <li>a plan of your irrigation system</li>
        <li>reservoir plans included as part of your planning permission</li>
      </ul>


      <br><br><br>
      <h2 class="govuk-heading-l" id="link04">How your application is assessed</h2>
      <p class="govuk-body">RPA will make sure the project is still eligible for a grant at the full application stage. We will also check that your project is the same as that described at Stage 1: online application.</p>
      <p class="govuk-body">We’ll then assess and score your application based on the following criteria.</p>


      <br><br>
      <h3 class="govuk-heading-m">Funding priorities</h3>
      <p class="govuk-body">RPA will score how well the project meets the funding priorities. These are projects that improve:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>productivity</li>
        <li>water sustainability</li>
        <li>the environment</li>
      </ul>      


      <br><br>
      <h3 class="govuk-heading-m">Shows value for money</h3>
      <p class="govuk-body">RPA will score how well the project costs represent value for money. This includes the amount of grant required to deliver the outcomes.</p>
      <p class="govuk-body">Your project will also be assessed to make sure that it is viable.</p>


      <br><br>
      <h3 class="govuk-heading-m">Financial viability</h3>
      <p class="govuk-body">RPA will assess:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the current financial viability of your business</li>
        <li>how the project may affect your existing business operations</li>
        <li>how you will fund the project until the grant is claimed</li>
        <li>how the business will benefit from the project financially</li>
      </ul>      


      <br><br>
      <h3 class="govuk-heading-m">Delivery and sustainability</h3>
      <p class="govuk-body">RPA will assess how you’ll:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>meet the project deadline and come within budget</li>
        <li>mitigate any risks to project delivery</li>
      </ul>


      <br><br><br>
      <h2 class="govuk-heading-l" id="link05">When you’ll find out if you’re successful</h2>
      <p class="govuk-body">RPA aims to give you a decision on your application within 60 working days from receipt of a complete full application.</p>
      <p class="govuk-body">If you are offered a grant, RPA will send a GFA for you to sign and return. This will set out the legal terms and conditions of the grant, including the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>amount of the grant</li>
        <li>outputs we have agreed for your project</li>
      </ul>
      <p class="govuk-body">If you need to change anything in the GFA over the course of the project, you must get written agreement from RPA first. If you do not, RPA could end your agreement and reclaim any grant we have already paid. You’ll get more information and help with this if you are offered a grant.</p>


      <br><br>
      <h3 class="govuk-heading-m">If your application is unsuccessful</h3>
      <p class="govuk-body">If your application is unsuccessful, RPA will write to you and tell you why. If you’re unhappy with the decision, you must follow RPA’s <a href="/_common/not-testing.html">Complaints procedure</a>.</p>


      <br><br><br>
      <h2 class="govuk-heading-l" id="link06">Contact RPA</h2>
      <p class="govuk-body">Contact the Farming Transformation Fund (FTF) team at RPA if you’re not sure if you are eligible to apply, or if you are not able to access the online checker.</p>
      <p class="govuk-body">Email: <a href="#">FTF@rpa.gov.uk</a></p>
      <p class="govuk-body">Telephone: 0300 0200 301 and follow options for the Farming Transformation Fund scheme.</p>
      <p class="govuk-body">Post: Farming Transformation Fund, Grants Service, Rural Payments Agency, Sterling House, Dix's Field, Exeter, EX1 1QA.</p>


      
      </div>
     
      
    
    </div>
  </main>
</div>




</main>

{% endblock %}