{% extends "layouts/main-no-title.html" %}

{% set pageName="How to apply for the Water Management Grant Round 3" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Farming and food grants and payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Rural grants and payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Farming Equipment and Technology Fund 2024</a>
    </li>
  </ol>
</div>

<br>

<img src="/public/images/rpa_logo.png" style="scale: 100%;" alt="logo of the rural payment agency">

<br><br><br>




<style>
  .blue-box {
    background-color: #1D70B8; /* Blue color */
    height: fit-content; /* Adjust the height as needed */
    width: full-width; 
    color: white; /* Text color */
    padding: 30px; /* Spacing around the text */
  }

  .contents-list li{
    font-size: 1rem;
  }

</style>
</head>
<body>

<div class="blue-box">
  <p class="govuk-body-l" style="color: white;">Guidance</p>
  <h1 class="govuk-heading-xl" style="color: white;">Apply for Farming Equipment and Technology Fund (FETF) 2024 grant</h1>
  <p class="govuk-body" style="color: white;">Updated 8 April 2024</p>
</div>

</body>









<br><br>

    <div style="width: 960px; height: 56px; position: relative; background: #F3F2F1;">
      <p class="govuk-body" style="margin-top: 15px; position: absolute; left: 40px;"><strong>Applies to England</strong></p>
    </div>
    
<br>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s">Contents</p>
        <ul class="govuk-list contents-list">
          <li>
            <a class="govuk-link" href="#link01">Check you’re eligible</a>
          </li>
          <li>
            <a class="govuk-link" href="#link02">Items you can apply for</a>
          </li>
          <li>
            <a class="govuk-link" href="#link03">Items you cannot apply for</a>
          </li>
          <li>
            <a class="govuk-link" href="#link04">How much money you’ll receive</a>
          </li>
          <li>
            <a class="govuk-link" href="#link05">When you can apply</a>
          </li>
          <li>
            <a class="govuk-link" href="#link06">How to apply</a>
          </li>
          <li>
            <a class="govuk-link" href="#link07">Changing or withdrawing your <br> application</a>
          </li>
          <li>
            <a class="govuk-link" href="#link08">Published data on successful <br> applications</a>
          </li>
        </ul>
        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
      </div>


      <div class="govuk-grid-column-two-thirds">
        
        <p class="govuk-body">The Farming Equipment and Technology Fund (FETF) 2024 includes 3 grants to help you buy items to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">improve productivity</a></li>
          <li><a href="#">manage slurry</a></li>
          <li><a href="#">improve animal health and welfare</a></li>
        </ul>
        <p class="govuk-body"> You can apply for more than one grant, for items that suit your business.</p>
        <p class="govuk-body">FETF 2024 is competitive. You may not receive any, or all of the funding you apply for.</p>
        <p class="govuk-body">Successful applicants will receive: 
          <ul class="govuk-list govuk-list--bullet">
            <li>a minimum of £1,000 and a maximum of £50,000 towards productivity items</li>
            <li>a minimum of £1,000 and a maximum of £50,000 towards slurry items</li>
            <li>a minimum of £1,000 and a maximum of £25,000 towards animal health and welfare items</li>
          </ul>
          
          
          <br><br>
          <br><br>


        <h2 class="govuk-heading-l">Check you’re eligible</h2>
        <p class="govuk-body">You can apply for a grant if your business is based and registered in England and you’re a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>farmer</li>
          <li>horticulturalist</li>
          <li>forestry owner</li>
          <li>contractor carrying out services to farmers, horticulturalists or forestry owners</li>
        </ul>
        <p class="govuk-body">You may be eligible to apply if you’ve received money from previous FETF grants or the Countryside Productivity Scheme (CPSG).</p>
        <p class="govuk-body">The FETF Animal Health and Welfare grant is only available if you farm any of the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>beef cattle</li>
          <li>dairy cattle</li>
          <li>sheep</li>
          <li>pigs</li>
          <li>laying chickens (including rearing and breeding farms)  </li>
          <li>broiler chickens (including rearing and breeding farms)</li>
        </ul>
        <p class="govuk-body">Other types of livestock and poultry, including goats, ducks, turkeys, geese and gamebirds, are not eligible for funding.</p>
        

        <br><br>


        <h3 class="govuk-heading-m">Lump Sum Exit Scheme applicants</h3>
        <p class="govuk-body">You’re not eligible for FETF if you choose to leave farming through the Lump Sum Exit Scheme.</p>
        <p class="govuk-body">If you’re a farmer who has been paid a lump sum but are continuing as a contractor, you can apply for FETF.</p>


        <br><br>

        <h3 class="govuk-heading-m">Who cannot apply</h3>
        <p class="govuk-body">Government departments, executive agencies and non-departmental public bodies (for example, the Ministry of Defence or the Forestry Commission) cannot apply for a grant.</p>


        <br><br>
        <br><br>

        
        <h2 class="govuk-heading-l">Items you can apply for</h2>
        <p class="govuk-body">You can apply for items from the productivity, slurry and animal health and welfare items and specifications lists.</p>
        <p class="govuk-body">All items must be new items and must meet the relevant specifications in each list.</p>
        <p class="govuk-body">You can buy an item with a higher specification, but you cannot buy items that do not meet the minimum specification. For example, you can buy a 12 metre (m) drill if the minimum specification is listed as 6m, as long as all other criteria for the item are met.</p>
        <p class="govuk-body">If the piece of equipment meets 2 or more specifications, you can only apply for funding for one item. For example, if you want to buy a yield monitoring device, which also has variable rate control functionality, you could apply for either a yield monitoring or variable rate controller item, not both.</p>
        <p class="govuk-body">You can apply for funding for similar items to those funded through other schemes, but not the same item. For example, if you’ve received funding towards the cost of a building through another scheme, you could still apply for a FETF grant to buy machinery to put in the building.</p>
        <p class="govuk-body">You can apply for the same item that you’ve applied for under previous FETF grants. The Rural Payments Agency (RPA) will ask you to explain this. You must keep items that have been funded by FETF grants for 5 years from the date your claim was paid.</p>


        <br><br>
        <br><br>

        <h2 class="govuk-heading-l">How much money you’ll receive</h2>
        <p class="govuk-body">The RPA has calculated an expected average cost for each item, based on costs from a cross-section of suppliers.</p>
        <p class="govuk-body">The RPA will pay you a grant amount of 50% or 60% towards either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the average cost of the item – if an item costs you the same or more than the expected average cost in the item lists </li>
          <li>the actual cost you pay for the item – if an item costs you less than the expected average cost in the item lists  </li>
        </ul>
        <p class="govuk-body">You can check an item’s expected average cost and grant amount in the item and specification lists.</p>
        <p class="govuk-body">If your application is successful, you’ll receive a grant of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a minimum of £1,000 and a maximum of £50,000 towards productivity items</li>
          <li>a minimum of £1,000 and a maximum of £50,000 towards slurry items</li>
          <li>a minimum of £1,000 and a maximum of £25,000 towards animal health and welfare items</li>
        </ul>
        <p class="govuk-body">The grant contribution does not cover the total cost of each item. It’s your responsibility to fund the remaining cost.</p>

        
        <br><br>


        <h3 class="govuk-heading-m">Grants of over £25,000</h3>
        <p class="govuk-body">If you apply for a grant of over £25,000, you’ll need to provide evidence which shows you can cover the total cost of each item, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an email or letter from your bank or building society</li>
          <li>a bank or building society statement dated within the last year</li>
          <li>evidence of a loan (this can be a personal or private loan)</li>
        </ul>
        <p class="govuk-body">The RPA will also ask you to send supporting information or documents appropriate to your business including either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>financial accounts for the most recent 3 years of trading</li>
          <li>latest tax returns, management accounts or a statement of income and expenses from an accountant (if you are a new business or self-employed)</li>
        </ul>
        <p class="govuk-body">The RPA will use this evidence to assess:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how you will cover the cost of each item until the grant is claimed</li>
          <li>the current financial viability of your business</li>
        </ul>


        <br><br>


        <h3 class="govuk-heading-m">How funding is allocated</h3>
        <p class="govuk-body">The RPA will allocate funding after all applications within each grant application window have been received and scored.</p>
        <p class="govuk-body">Funding for each of the 3 grants will be allocated starting with the highest scoring applications until it is fully allocated. This will set the minimum threshold for the application window.</p>


        <br><br>
        <br><br>


        <h2 class="govuk-heading-l">When you can apply</h2>
        <p class="govuk-body">You can apply for FETF 2024 through the <a class="govuk-link" href="#">Farming Investment Fund service</a>.</p>
        <p class="govuk-body">You can apply between 6 March and 17 April 2024 for productivity and slurry items. This application window will close at midday on 17 April 2024.</p>
        <p class="govuk-body">You can apply between 20 March and 1 May 2024 for animal health and welfare items. This application window will close at midday on 1 May 2024.</p>


        <br><br>


        <h3 class="govuk-heading-m">Application windows</h3>
        <p class="govuk-body">Two more application windows for productivity, slurry and animal health and welfare items are expected to open in 2024. The total budget for each grant is split evenly across the application windows.</p>
        <p class="govuk-body">The average costs and grant amounts for the items are expected to be the same in each application window.</p>
        <p class="govuk-body">If your application falls below the scoring threshold and is unsuccessful, the RPA will reject it. You will be able to apply again in a future application window.</p>
        <p class="govuk-body">You can only accept one grant funding agreement (GFA) for each grant. When you have accepted a GFA you cannot apply again for the same grant in 2024. For example, if you accept a GFA for a productivity grant in the first window, you cannot apply for a productivity grant in the second or third window.</p>

      <br><br>
      <br><br>


        <h2 class="govuk-heading-l">How to apply</h2>
        <p class="govuk-body">Follow these steps to apply for FETF:</p>
        <ol class="govuk-list govuk-list--number">
          <li>
           
            <p>Check the specification of the items you want to apply for in the 2024 items and specifications lists – specifications may have changed from previous FETF item lists. 
            </p>
          </li>
          <li>
            <p>Check the availability of the items you want to apply for with your supplier. 
            </p>
          </li>
          <li>
            <p>Do not order or buy anything at this stage, unless you are paying with a refundable deposit. The RPA will reject your claim if you do not meet these conditions. 
            </p>
          </li>
          <li>
            <p>Register with the <a class="govuk-link" href="#">Rural Payments service</a>.
            </p>
          </li>
          <li>
            <p>Check your business details in the Rural Payments service are correct or update your email address or contact details. Your personal record on Rural Payments must have a permission level of either ‘make legal changes’ or ‘full permissions’ for the business you are applying for.   
            </p>
          </li>
          <li>
            <p>Read the <a class="govuk-link" href="#">FETF 2024 terms and conditions</a>.
            </p>
          </li>
          <li>
            <p>Register and login to the <a class="govuk-link" href="#">Farming Investment Fund service</a> to submit your application by the application deadlines (this is separate to the Rural Payments service and requires you to complete a new registration). If you want to apply for more than one grant, you’ll need to submit separate applications. The service is an online system where you’ll need to complete questions about yourself and your business. Your details must match those in the Rural Payments service. Your application should take around 20 minutes to complete.
            </p>
          </li>
          <li>
            <p>You’ll receive an acknowledgement email within 24 hours of applying – you may need to check your junk folder for emails about your application.
            </p>
          </li>
        </ol>
        <p class="govuk-body">Your application will be checked for eligibility and scored by the RPA. </p>
        <p class="govuk-body">If your application is unsuccessful, the RPA will write to you to tell you why. </p>
        <p class="govuk-body">If your application is successful, the RPA will send you a GFA. GFAs for each grant will be sent separately.</p>
        <p class="govuk-body">Use the <a class="govuk-link" href="#">Farming Investment Fund</a> service to accept your GFA by the deadline set out in your GFA email. You’ll need to select each grant to accept each GFA.</p>
        <p class="govuk-body">It’s important that you read and understand the steps you’ll need to follow to <a class="govuk-link" href="#">claim your FETF 2024 grant payment.</a></p>


        <br><br>
        

        <p class="govuk-body"><strong>Productivity grant</strong></p>
        <a href="/dataSetPrepop1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Apply now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        <p class="govuk-body"><strong>Slurry grant</strong></p>
        <p class="govuk-body">Now closed for applications.</p>
        <br><br>
        <p class="govuk-body"><strong>Animal Health and Welfare grant</strong></p>
        <p class="govuk-body">Now closed for applications.</p>


        <br><br>


        <h3 class="govuk-heading-m">Refundable deposits</h3>
        <p class="govuk-body">To help reduce possible supply issues, a supplier or manufacturer may agree to reserve your item if you pay a refundable deposit. The deposit must be for no more than 50% of the item cost.</p>
        <p class="govuk-body">You must not put down a refundable deposit before the 20 February 2024.</p>
        <p class="govuk-body">Invoices must be marked by your supplier to show you used a refundable deposit to buy the item.   </p>
        <p class="govuk-body">The RPA will reject your claim if you do not meet these conditions.</p>


        <br><br>


        <h3 class="govuk-heading-m">Animal Health and Welfare grant: evidence of vet advice</h3>
        <p class="govuk-body">If you’re applying for an Animal Health and Welfare grant, you can increase your application score by providing evidence that you’ve discussed your application with a vet. </p>
        <p class="govuk-body">You can get vet advice by telephone, email, or as part of a vet visit. You may be eligible to apply for a fully funded vet visit as part of the <a class="govuk-link" href="#">Sustainable Farming Incentive (SFI) annual health and welfare review.</a></p>
        <p class="govuk-body">You must receive advice on your application after 1 January 2024 and before 1 January 2025 for it to be eligible for the increase.</p>
        <p class="govuk-body">You’ll need to provide your vet’s details, the date of the discussion and permission for us to contact your vet when you apply.</p>


        <br><br>
        <br><br>

        
        <h2 class="govuk-heading-l">Changing or withdrawing your application</h3>
        <p class="govuk-body">You can save and make changes to your application before you submit it, using the <a class="govuk-link" href="#">Farming Investment Fund service</a>.</p>
        <p class="govuk-body">Make sure that your application is complete before you submit it.</p>
        <p class="govuk-body">You cannot change your application after you’ve submitted it.</p>
        <p class="govuk-body">If you need to withdraw your application after you’ve submitted it, email <a class="govuk-link" href="#">FETFEnquiries@rpa.gov.uk</a>. Include your FETF reference number.</p>
        <p class="govuk-body">If you withdraw your application, you cannot submit another application until a new application window is open.</p>


        <br><br>
        <br><br>

        <h2 class="govuk-heading-l">Published data on successful applications</h3>
          <p class="govuk-body">The Department for Environment, Food and Rural Affairs (Defra) is legally required to publish data about grants made for productivity and slurry items.  </p>
          <p class="govuk-body">Defra will publish the following information about your grant on a searchable database on GOV.UK:  </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your business name </li>
            <li>part of your business address (the post town and first four digits of the postcode) </li>
            <li>the amount received and a description of the funded activities </li>
          </ul>
          <p class="govuk-body">Defra is not required to publish this data for animal health and welfare items and will publish aggregated data only.</p>
          







      </div>
     
      
    
    </div>
  </main>
</div>




</main>

{% endblock %}