<li>

    {% if (data['fetf-claim'] == "01") %}
    <h2 class="govuk-heading-m">Check items</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
    </ul>

      <h2 class="govuk-heading-m">Upload claim evidence</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Bracken roller (FETF414)</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
  
      
  
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
  
      
      </ul>

      <h2 class="govuk-heading-m">Submit claim</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>

    {% elif (data['fetf-claim'] == "01-1") %}

   
    <h2 class="govuk-heading-m">Check items</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-2-status">
          <strong class="govuk-tag govuk-tag--light-blue">
            In progress
          </strong>
        </div>
      </li>
    </ul>

      <h2 class="govuk-heading-m">Upload claim evidence</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Bracken roller (FETF414)</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
  
      
  
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
  
      
      </ul>

      <h2 class="govuk-heading-m">Submit claim</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>
    
    {% elif (data['fetf-claim'] == "01a") %}

    <!-- <h2 class="govuk-prototype-kit-task-list__section">
      Submit claim
    </h2> -->
    <h2 class="govuk-heading-m">Check items</h2>
   
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Upload claim evidence</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item1/serial-number-guidance" aria-describedby="application-details-2-status">Bracken roller (FETF414)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>

      

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item3/serial-number">Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>

      
    </ul>
     
    <h2 class="govuk-heading-m">Submit claim</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>


    {% elif (data['fetf-claim'] == "01b") %}

    <!-- <h2 class="govuk-prototype-kit-task-list__section">
     Submit claim
    </h2> -->
    <h2 class="govuk-heading-m">Check items</h2>
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>
    </ul>

      <h2 class="govuk-heading-m">Upload claim evidence</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item1/check-answers-unanswered" aria-describedby="application-details-2-status">Bracken roller (FETF414)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-2-status">
          <strong class="govuk-tag govuk-tag--light-blue">
            In progress
          </strong>
        </div>
      </li>

      

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item3/serial-number">Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>

     
    </ul>

      <h2 class="govuk-heading-m">Submit claim</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>



    {% elif (data['fetf-claim'] == "01c") %}

    <h2 class="govuk-heading-m">Check items</h2>
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>
    </ul>

      <h2 class="govuk-heading-m">Upload claim evidence</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item1/serial-number-guidance" aria-describedby="application-details-2-status">Bracken roller (FETF414)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>

      

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item3/serial-number" aria-describedby="application-details-2-status">Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>

      
    </ul>

      <h2 class="govuk-heading-m">Submit claim</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>


    {% elif (data['fetf-claim'] == "01d") %}

    <h2 class="govuk-heading-m">Check items</h2>
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>
    </ul>

      <h2 class="govuk-heading-m">Upload claim evidence</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item1/serial-number-guidance" aria-describedby="application-details-2-status">Bracken roller (FETF414)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>

      

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item3/serial-number">Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>

      
    </ul>

    <h2 class="govuk-heading-m">Submit claim</h2>
    <ul class="govuk-task-list">
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/submit-check" aria-describedby="application-details-2-status">Submit</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Not yet started
        </strong>
      </div>
    </li>
  </ul>

    {% elif (data['fetf-claim'] == "01e") %}

    <h2 class="govuk-heading-m">Check items</h2>
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/claim-detail" aria-describedby="application-details-2-status">Items you're claiming</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>
    </ul>

      <h2 class="govuk-heading-m">Upload claim evidence</h2>
      <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item1/serial-number-guidance" aria-describedby="application-details-2-status">Bracken roller (FETF414)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>

      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../claim/v5-0/item3/serial-number">Variable rate controller for seed drills, sprayers and fertiliser spreader (FETF50)</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
      </li>

      
    </ul>

    <h2 class="govuk-heading-m">Submit claim</h2>
    <ul class="govuk-task-list">
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        Completed
    </div>
    </li>
  </ul>

    
    {% endif %}

  </li>