<li>

    {% if (data['fetf-claim'] == "01") %}

    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">3. </span> Submit claim
    </h2>
    
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Upload claim evidence</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit claim</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>



    {% elif (data['fetf-claim'] == "02a") %}

    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">3. </span> Submit claim
    </h2>
    
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Upload claim evidence</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit claim</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>



    {% elif (data['fetf-claim'] == "02b") %}

    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">3. </span> Submit claim
    </h2>
    
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Upload claim evidence</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--light-blue">
            In progress
          </strong>
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit claim</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>


    {% elif (data['fetf-claim'] == "02c") %}

    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">3. </span> Submit claim
    </h2>
    
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Upload claim evidence</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
            Completed
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit claim</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>

    </ul>


    {% elif (data['fetf-claim'] == "03") %}

    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">3. </span> Submit claim
    </h2>
    
    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Upload claim evidence</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
            Completed
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit claim</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
            Completed
        </div>
      </li>

    </ul>

    
    {% endif %}

  </li>