  <li>

      {% if (data['fetf-apply'] == "01") %}

      <h2 class="govuk-prototype-kit-task-list__section">
        <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
      </h2>

      <ul class="govuk-task-list">

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="../../application/v1-0/items/equipment-list" aria-describedby="application-details-2-status">Select your equipment</a>
        </div>
        <div class="govuk-task-list__status" id="application-details-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Not yet started
          </strong>
        </div>
      </li>
    
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>About your equipment</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Check your business and personal details</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit application</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    
      </ul>



    {% elif (data['fetf-apply'] == "02a") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--light-blue">
          In progress
        </strong>
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>About your equipment</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Check your business and personal details</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit application</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    </ul>


    {% elif (data['fetf-apply'] == "02b") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../application/v1-0/about-items/livestock-information" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Not yet started
        </strong>
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Check your details</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit application</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    </ul> 

    

    {% elif (data['fetf-apply'] == "02c") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--light-blue">
          In progress
        </strong>
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Check your details</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit application</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    </ul>    



    {% elif (data['fetf-apply'] == "02d") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="../../application/v1-0/business-details/business-structure" aria-describedby="application-details-2-status">About your business</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Not yet started
        </strong>
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit application</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    </ul>    


    {% elif (data['fetf-apply'] == "02e") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your business</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--light-blue">
          In progress
        </strong>
      </div>
    </li>
  
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit application</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
        Cannot start yet
      </div>
    </li>
  
    </ul>


    {% elif (data['fetf-apply'] == "02f") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your business</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit application</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Not yet started
        </strong>
      </div>
    </li>
  
    </ul>


    {% elif (data['fetf-apply'] == "03a") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your business</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit application</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>
  
    </ul>


    {% elif (data['fetf-apply'] == "03b") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your business</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit application</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Application outcome</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Successful
      </div>
    </li>

    </ul>


    {% elif (data['fetf-apply'] == "03c") %}
      
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">1. </span> Apply
    </h2>

    <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Select your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your equipment</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">About your business</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Submit application</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="application-details-2-status">Application outcome</a>
      </div>
      <div class="govuk-task-list__status" id="application-details-4-status">
          Unsuccessful
      </div>
    </li>

    </ul>



  {% endif %}


</li>