<p class="govuk-body">Check and confirm the items you’re claiming for.</p>


<div class="govuk-inset-text">
  Submit your claim by 11:59pm on <strong>29 November 2024</strong>.
</div>



<h1 class="govuk-heading-l">Approved grant funding</h1>

<span class="content-section">
  <p class="govuk-body">This table is pre-populated from your grant funding agreement.</p>

<p class="govuk-body">You were awarded a grant of <strong>£20,000.00</strong> for the items:</p>

<!-- TABLE CONTENT -->
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Item(s)</th>
      <th scope="col" class="govuk-table__header">Code</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Quantity</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Grant amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Paper pot transplanter</td>
      <td class="govuk-table__cell">FETF4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2,000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Salad leaf harvester</td>
      <td class="govuk-table__cell">FETF8</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£8,000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Harvesting head</td>
      <td class="govuk-table__cell">FETF13</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£3,000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Slurry separators</td>
      <td class="govuk-table__cell">FETF27</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£6,000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Trailing shoe slurry system over 8m</td>
      <td class="govuk-table__cell">FETF37</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1,500.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">GPS light bar</td>
      <td class="govuk-table__cell">FETF46</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1,500.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><strong>Total</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£20,000.00</strong></td>
    </tr>
  </tbody>
</table>

<br>



</span>