<span class="content-section">
  <h2 class="govuk-heading-m">If you cannot buy all the items</h2>
  <p class="govuk-body">You must tell us as soon as possible if you cannot purchase the item you intended and cannot source it from another supplier or if you cannot meet the claim deadline.</p>
  <p class="govuk-body">We will consider amendment requests on a case-by-case basis. You must be able to demonstrate you have taken all reasonable steps to source the items within a realistic timeframe.</p>
  <p class="govuk-body">If you remove an item, your application must still be above the minimum grant of £1,000.</p>
  <p class="govuk-body">The revised total amended score must still be more than the minimum threshold for the round. The cut off score for FETF 2023 was 75%. If you fall below this score your application will no longer be eligible for funding.</p>
</span>


<span class="content-section">
  <h2 class="govuk-heading-m">Grant payable</h2>
  <p class="govuk-body">The grant amount is fixed for each item, as set out in <a href="#" target="_blank">Productivity items and specifications - Farming Equipment and Technology Fund (FETF) 2024 (opens in new tab)</a>. The items you purchase must meet the minimum specifications.</p>
  <p class="govuk-body">By <strong>31 July 2024</strong>, you must have:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>purchased, installed and have the items operational</li>
    <li>submitted details and evidence of your claim</li>
  </ul>
  <p class="govuk-body">Your claim may be rejected if any of these requirements are not met.</p>
  <p class="govuk-body">We will pay your claim in a single payment after we have checked all the requirements have been met and the claim is eligible.</p>
</span>


<span class="content-section">
  <h2 class="govuk-heading-m">Site visits</h2>
  <p class="govuk-body">The location of the item(s) will be at <strong>
  {% if data['addressPostcode'] %}
        {{ data['addressPostcode'] }}

{% else %}
GL1 2UE
{% endif %}
</strong>, as set out in your application. We may carry out a site visit at any time, either before and/or after the claim is paid, and up to 5 years following payment of the grant.</p>
</span>


<span class="content-section">
<h2 class="govuk-heading-m">Questions about your agreement</h2>
<p class="govuk-body">If you have any questions about your agreement, call the RPA and follow the options for the Farming Equipment and Technology Fund scheme.</p>
<p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)</p>
<p class="govuk-body"><strong>Email</strong><br><a href="mailto:FETFClaims@rpa.gov.uk">FETFClaims@rpa.gov.uk</a></p>
</span>


<span class="content-section">
<h2 class="govuk-heading-m">Withdrawing your agreement</h2>
<p class="govuk-body">If you do not want the grant funding, you can <a href="">withdraw your application</a> before you make a claim.</p>
</span>