<div class="govuk-inset-text">
    You must read and accept the agreement by 11:59pm on <strong>31 May 2024</strong>.
</div>
<p class="govuk-body">Once you've reviewed and agreed to the information in this agreement, you can download a copy for your own records.</p>
<p class="govuk-body">Before accepting your grant funding agreement, you should confirm with your supplier that the items are still available.</p>


<span class="content-section">
    <h2 class="govuk-heading-m">If you cannot buy all the items</h2>
    <p class="govuk-body">You must tell us as soon as possible if you cannot purchase the item you intended and cannot source it from another supplier or if you cannot meet the claim deadline.</p>
    <p class="govuk-body">We will consider amendment requests on a case-by-case basis. You must be able to demonstrate you have taken all reasonable steps to source the items within a realistic timeframe.</p>
    <p class="govuk-body">If you cannot buy an item, your application must still be above the minimum grant amount of £1,000.</p>
    <p class="govuk-body">The revised total score must still be more than the minimum threshold for the round. If you fall below this score this application will no longer be eligible for funding.</p>
</span>