<span class="content-section">
<p class="govuk-body">Your application for the Water Management Grant - Round 3 has been approved.</p>
</span>

<span class="content-section">
<h2 class="govuk-heading-m">What you need to do</h2>

<p class="govuk-body">Your grant funding agreement is ready for you to read and accept.</p>

<div class="govuk-inset-text">
  You must read and accept the agreement by 11:59pm on <strong>31 May 2024</strong> or the offer will expire and we cannot award you a grant.
</div>

<p class="govuk-body">Once you’ve reviewed and accepted your agreement, you can download a copy for your own records.</p>

<p class="govuk-body"><a href="index">Read and accept your grant funding agreement</a></p>

</span>