<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="govuk-grid-row" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" style="margin-bottom: 8px;">{{ data['business-name'] }}</h3>
            <p class="govuk-body sbi-number" style="margin-bottom: 8px;">SBI: {{ data['business-sbi-number'] }}</p>
        </div>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m" style="float:right; margin-bottom: 8px;">{{ data['applicant-name'] }}</h3>
        </div>

        </div>
    </main>
</div>
<hr>