<div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="govuk-grid-row" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Plumpton Farm Ltd</h3>
            <p class="govuk-body sbi-number" style="margin-bottom: 8px;">SBI: 357951123</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s" style="float:right; margin-bottom: 8px;">Applicant: Christopher Hart</h3>
            <p class="govuk-heading-s" style="float:right; margin-bottom: 8px;">Agent: Sally Wiston</p>    
        </div>
     </div>
    </main>
</div>
<hr>