{% extends "layouts/main-application-round-2.html" %}

{% set pageName="How to apply for the Water Management Grant Round 3" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Farming and food grants and payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Rural grants and payments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Farming Equipment and Technology Fund 2023</a>
    </li>
  </ol>
</div>

<br>

<img src="/public/images/rpa_logo.png" style="scale: 100%;" alt="logo of the rural payment agency">

<br><br><br>

<style>
  .blue-box {
    background-color: #1D70B8; /* Blue color */
    height: 240px; /* Adjust the height as needed */
    width: 900px; 
    color: white; /* Text color */
    padding: 30px; /* Spacing around the text */
  }

  .contents-list li{
    font-size: 1rem;
  }

</style>
</head>
<body>

<div class="blue-box">
  <p class="govuk-body-l" style="color: white;">Guidance</p>
  <h1 class="govuk-heading-xl" style="color: white;">How to apply for a Farming Equipment and Technology Fund 2023 grant</h1>
  <p class="govuk-body" style="color: white;">Updated 8 November 2023</p>
</div>

</body>

<br><br>

    <div style="width: 960px; height: 56px; position: relative; background: #F3F2F1;">
      <p class="govuk-body" style="margin-top: 15px; position: absolute; left: 40px;"><strong>Applies to England</strong></p>
    </div>
    
<br>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body-s">Contents</p>
        <ul class="govuk-list contents-list">
          <li>
            <a class="govuk-link" href="#link01">How to register and check your records on the Rural Payments service</a>
          </li>
          <li>
            <a class="govuk-link" href="#link02">Refundable deposits</a>
          </li>
          <li>
            <a class="govuk-link" href="#link03">What you’ll need for your application</a>
          </li>
          <li>
            <a class="govuk-link" href="#link04">Submit your application</a>
          </li>
          <li>
            <a class="govuk-link" href="#link05">How your application is checked</a>
          </li>
          <li>
            <a class="govuk-link" href="#link06">How your application is assessed</a>
          </li>
          <li>
            <a class="govuk-link" href="#link07">If you are offered a grant</a>
          </li>
          <li>
            <a class="govuk-link" href="#link08">Terms and conditions</a>
          </li>
          <li>
            <a class="govuk-link" href="#link09">If your application is unsuccessful</a>
          </li>
          <li>
            <a class="govuk-link" href="#link10">Site visits</a>
          </li>
          <li>
            <a class="govuk-link" href="#link11">Publicising successful grants</a>
          </li>
        </ul>
      </div>


      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
          <p class="govuk-body">To print this document, click on the ‘Print this page’ button.</p>
          <p class="govuk-body">From a mobile device or desktop computer, you can choose to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>print directly to a printer</li>
            <li>save the document as a PDF to print off later</li>
          </ul>
        </div>


        <p class="govuk-body">The Farming Equipment and Technology Fund (FETF) 2023 has been split into 2 themes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Productivity and Slurry items (<a href="#">Annex 3</a>)</li>
          <li>Animal Health and Welfare items (<a href="#">Annex 4</a>)</li>
        </ul>
        <p class="govuk-body">You can apply to either theme or both, for items that best suit your business.</p>
        <p class="govuk-body">The FETF 2023 grant is competitive, and you will not automatically get a grant.</p>
        <p class="govuk-body">Read the <a href="#">About the Farming Equipment and Technology Fund (FETF) 2023</a> guidance to check if you are eligible to apply.</p>


        <h2 class="govuk-heading-l">How to register and check your records on the Rural Payments service</h2>
        <p class="govuk-body">Make sure that your business is registered with the <a href="#">Rural Payments service</a> and has a Single Business Identifier (SBI). The Rural Payments Agency (RPA) cannot process your application without this.</p>
        <p class="govuk-body">If you haven’t registered for the Rural Payments service before, you need to register your customer and bank details. Read <a href="#">Rural Payments service: registering and updating your details</a> to find out more. Your application details must match exactly your records on the <a href="#">Rural Payments service</a>. If they do not, follow the guidance to <a href="#">update your records</a>.</p>
        <p class="govuk-body">These details must be up to date:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>email address</li>
          <li>business name</li>
          <li>business postcode</li>
          <li>full name</li>
          <li>permissions</li>
          <li>bank details</li>
        </ul>
        <p class="govuk-body">Make sure that the Customer Reference Number (CRN) you use to apply on the application portal has a permission level of either ‘Make legal changes’ or ‘Full permissions’. To find out how to find your CRN in the Rural Payments service call the Rural Payments helpline on 03000 200 301.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lYr-OuK9WWQ?si=y3QxtBa7J_XmuMYt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!-- YOUTUBE VIDEO LINK -->

        <br><br><br><br>
        <h2 class="govuk-heading-l">Refundable deposits</h2>
        <p class="govuk-body">To help reduce possible supply issues, a supplier or manufacturer may agree to reserve your item with a refundable deposit. You’ll need them to agree the deposit will be refunded if you are unable to proceed with the purchase.</p>
        <p class="govuk-body">If you have paid a refundable deposit and you are successful and awarded a grant, the following conditions must be met at the time you submit your claim, or it will be rejected:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the refundable deposit had not been paid before the FETF 2023 guidance was published on GOV.UK on 9 February 2023</li>
          <li>the refundable deposit was paid by you in advance and was not for more than 50% of the total cost of the item</li>
        </ul>
        <p class="govuk-body">The refundable deposit is a form of security to guarantee the manufacture and/or supply of an item, and not to pay the whole amount. The invoice for the item must state ‘refundable deposit’ for that section of the payment.</p>
        <p class="govuk-body">Paying a refundable deposit is done entirely at your own risk, because the grant is competitive and we can’t guarantee that your application will be successful.</p>



        <br><br>
        <h2 class="govuk-heading-l">What you’ll need for your application</h2>
        <p class="govuk-body">For each application, you will need to know for which item(s) you want to apply for funding. There’s a full list of available items in <a href="#">Annex 3</a> and <a href="#">Annex 4</a>.</p>
        <p class="govuk-body">Ex-demo, second hand, part exchange and ‘try before you buy’ items are not eligible for grant funding.</p>
        <p class="govuk-body">You’ll need the following information, which must match exactly the details on the Rural Payments service:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your CRN</li>
          <li>your SBI</li>
          <li>your email address</li>
          <li>your business name</li>
          <li>your business address and postcode</li>
        </ul>
        <p class="govuk-body">Your personal record on Rural Payments must have been set up with a permission level of either ‘Make legal changes’ or ‘Full permissions’ for the business you are applying for.</p>
        <p class="govuk-body">You will also need the following information to complete the questions in the portal.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your correspondence email address</li>
          <li>your Companies House Number, if you are a Limited company</li>
          <li>your VAT number, if registered for VAT</li>
          <li>the amount of land in hectares of any holdings you farm or manage, associated with your SBI</li>
          <li>the number of people you employ</li>
          <li>details of farm assurance or livestock health schemes</li>
        </ul>
        <p class="govuk-body">For the Productivity and Slurry portal, you will also need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the items you want, from those listed in <a href="#">Annex 3</a></li>
          <li>an estimate of the total number of bovine animals you keep</li>
          <li>your County Parish Holding (CPH) number if you keep bovine animals</li>
          <li>the relevant land parcel IDs if you are a woodland/forestry owner</li>
        </ul>
        <p class="govuk-body">For the Animal Health and Welfare portal, you will also need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the items you want, from those listed in <a href="#">Annex 4</a></li>
          <li>details of when a vet was last on your farm, if applicable (this will not affect your grant application)</li>
          <li>an estimate of how many animals you keep, which species, sex and age</li>
          <li>your County Parish Holding (CPH) number if you keep animals</li>
        </ul>
        <p class="govuk-body">If you are an agent applying on behalf of a someone else, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>use your own CRN</li>
          <li>have a permission level for the business on Rural Payments of ‘Make legal changes’ or ‘Full permissions’</li>
        </ul>

        <br><br>




        <h2 class="govuk-heading-l">Submit your application</h2>
        <p class="govuk-body">Your online application should take no more than 20 minutes to complete if you have all your details.</p>
        <p class="govuk-body">Please complete all relevant questions and do not move away from the webpage or close the internet browser until you have submitted your application. You will not be able to save your application and return to it later.</p>
        <p class="govuk-body">If you need to return to a previous screen, use the back button within the portal rather than the back button on your internet browser. This is because the back button on browsers will take you out of the application form.</p>
        <p class="govuk-body">If you enter information which is incorrect or in the wrong format, a prompt will appear telling you how to correct this. You will not be able to continue until you have added the information needed.</p>
        <p class="govuk-body">Do not leave spaces in the boxes after you have typed in your information, as this will cause the portal to say the information is incorrect and won’t allow you to move on.</p>
        <p class="govuk-body">You should check your application thoroughly before you submit it, to make sure the items you are applying for are suitable for your business needs and you can obtain them by the claim deadline.</p>
        <p class="govuk-body"><strong>Annex 3 - Productivity and Slurry grant</strong></p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Apply now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        <p class="govuk-body"><strong>Annex 4 - Animal Health and Welfare grant</strong></p>
        <p class="govuk-body">Now closed for applications.</p>
        <p class="govuk-body">You should only submit 1 application to each portal.</p>

        <br><br>

        <h3 class="govuk-heading-m">If you make a mistake on the portal or need to make any changes</h3>
        <p class="govuk-body">If you make a mistake on the portal or want to add more items before the deadline, you must submit a new application re-entering all the items you want to apply for. If we receive more than one application with the same SBI number, we will only consider the most recent application in each round.</p>

        <br><br>

        <h3 class="govuk-heading-m">Withdrawing an application</h3>
        <p class="govuk-body">If you wish to withdraw your application, please email <a href="#">FETFEnquiries@rpa.gov.uk</a> as soon as possible with your reasons for withdrawal. You should include your FETF reference number.</p>

        <br><br>

        <h2 class="govuk-heading-l">How your application is checked</h2>
        <p class="govuk-body">We cannot accept your application if your details do not exactly match those on Rural Payments. This could be because:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the CRN is not linked to the SBI number</li>
          <li>the email address does not match</li>
          <li>the postcode does not match</li>
          <li>the business name does not match</li>
          <li>you or your agent do not have the correct permissions</li>
        </ul>
        <p class="govuk-body">If you submit your application before the closing date we will tell you if your information does not match the information in Rural Payments. You can then submit a new application. If the portal is closed and your application details do not match Rural Payments, we will let you know and give you 5 working days to email the correct information to us.</p>
        <p class="govuk-body">We will check your application to make sure that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you are a farmer, horticulturalist, forestry owner or contractor to the industry</li>
          <li>items are not being funded from another grant or public source of funding</li>
          <li>the reason given for ‘why there are no animal numbers’ is acceptable, in terms of the items you have applied for</li>
          <li>if you are applying for sector or species-specific items, you have the relevant land or species, for example, sheep items are applied for by applicants with sheep</li>
          <li>if you are a forestry applicant, you have confirmed the level of subsidy received in the current and previous two financial years under the Minimal Financial Assistance (MFA).</li>
        </ul>


        <br><br>

        <h2 class="govuk-heading-l">How your application is assessed</h2>
        <p class="govuk-body">Each item has been assigned a score out of 100, based on the following criteria:</p>

        <br><br>

        <h3 class="govuk-heading-m">For Animal Health and Welfare:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>animal health and welfare benefit</li>
          <li>productivity</li>
          <li>environmental benefit</li>
          <li>innovation</li>
        </ul>
        <p class="govuk-body">The scores for each item you select will be added up to give the total score for all items in your application and then used to work out the average score for the number of items you have requested. You can see the scores for each item at Annex 3 and Annex 4. Applications for Productivity and Slurry and Animal Health and Welfare are scored separately.</p>
        <p class="govuk-body">We will allocate funding starting with the highest scoring applications with the highest average scores that best meet the scoring criteria, until the available funding is fully allocated. This will set a minimum threshold for the round.</p>
        <p class="govuk-body">The results of the previous application rounds do not affect this round.</p>
        <p class="govuk-body">An example of how applications are scored is provided below:</p>
        <br>
        <p class="govuk-body"><strong>Example 1</strong></p>
        <p class="govuk-body">1 x FETF45 - 6m seed drill (item score 64)</p>
        <p class="govuk-body">Application scores 64</p>
        <br><br>
        <p class="govuk-body"><strong>Example 2</strong></p>
        <p class="govuk-body">2 x FETF45 - 6m seed drills (item score 64)</p>
        <p class="govuk-body">2 x FETF27 - Slurry separators (item score 63)</p>
        <p class="govuk-body">1 x FETF32 - Dribble bar minimum working width 6m (item score 58)</p>
        <p class="govuk-body">Application scores 61.67 (64+63+58=185/3)</p>


        <br><br><br>

        <h3 class="govuk-heading-m">When you’ll hear about your application</h3>
        <p class="govuk-body">We will assess your application as soon as possible after the application period closes. We cannot give updates on individual applications until they have all been checked and scored.</p>

        <br><br><br><br>


        <h2 class="govuk-heading-l">If you are offered a grant</h2>
        <p class="govuk-body">If your application is successful:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>we will email you a Grant Funding Agreement (GFA) and claim form - if you want to proceed, you will need to accept the GFA online using the Productivity and Slurry and/or Animal Health and Welfare portal</li>
          <li>you can order or buy the items you applied for funding for as soon as you have accepted your GFA, so they can be delivered before you make a claim</li>
          <li>you cannot change the list of items in your GFA unless exceptional circumstances apply, and you have RPA’s written consent in advance - read what to do <a href="#">if you are unable to get your items</a></li>
          <li>you must keep accurate records for everything you spend (receipts and invoices) and provide these as supporting evidence for your claim</li>
        </ul>
        <p class="govuk-body">For audit reasons, you must not make cash payments for any grant funded items.</p>

        <br><br>

        <h2 class="govuk-heading-l">Terms and conditions</h2>
        <p class="govuk-body">You should read the terms and conditions before accepting the GFA. The offer of a grant is subject to the terms and conditions set out in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">Annex 1</a> of this guidance (Fund specific conditions of grant)</li>
          <li><a href="#">Annex 2</a> of this guidance (FETF terms and conditions)</li>
        </ul>
        <p class="govuk-body">If you do not meet these requirements, this could result in the grant being withdrawn and/or the recovery of grant already paid.</p>

        <br><br>

        <h2 class="govuk-heading-l">If your application is unsuccessful</h2>
        <p class="govuk-body">If your application is unsuccessful, we will write to you to tell you why.</p>

        <br><br>

        <h2 class="govuk-heading-l">Site visits</h2>
        <p class="govuk-body">Your business may be selected for a site visit before a grant payment is made, or up to five years after this date.</p>
        <p class="govuk-body">During the site visit, we may check all the details in your application, your claim, the declarations you make when submitting your application and items purchased.</p>

        <br><br>


        <h2 class="govuk-heading-l">Publicising successful grants</h2>
        <p class="govuk-body">If you accept a Grant Funding Agreement, you will need to follow any guidance from RPA about acknowledgement and publicity of the grant. This includes using templates or materials if provided.</p>
        <p class="govuk-body">We are legally required to publish data about grants made under the Productivity and Slurry portal. Defra will publish on a searchable database on GOV.UK the following information about your grant:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your business name</li>
          <li>part of your business address (the post town and first four digits of the postcode)</li>
          <li>the amount received and a description of the activities that have been grant funded</li>
        </ul>
        <p class="govuk-body">Defra is not required to publish the above data for grants made under the Animal Health and Welfare portal and will publish aggregated data only.</p>
        <p class="govuk-body">If you accept a Grant Funding Agreement, we may require information from you to evaluate your grant funded items and/or the Fund as a whole, for example in response to a survey. We may also invite you to take part in learning activities on an optional basis, such as interviews or focus groups. We may also invite applicants to take part in surveys or other activities to help us evaluate the scheme.</p>

      
      </div>
     
      
    
    </div>
  </main>
</div>




</main>

{% endblock %}