{% extends "layouts/main-claim-v1-2.html" %}

{% set pageName="Login" %}



{% block content %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/fetf/feedback-question.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}


  <br><br>
    <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in</h1>
      
      
      
      
        <div class="govuk-form-group">
          
          <label class="govuk-body">Customer reference number (CRN)</label>
          <div id="event-name-hint" class="govuk-hint">The 10 digit number emailed to you when you registered with the Rural Payments service</div>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
          <script>
            document.getElementById('width-10').addEventListener('click', function() {
              this.value = '0123456789';
            });
          </script>

<br><br>
 
        <label class="govuk-body">Password</label>
        <div id="event-name-hint" class="govuk-hint">This is your Rural Payments service password</div>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
        <script>
          document.getElementById('width-20').addEventListener('click', function() {
            this.value = '••••••••••••••••••';
          });
        </script>
        </div>

     


      <a href="/fetf/claim/v1-2/?fetf-status=03&fetf-apply=03b&fetf-agree=03&fetf-claim=01">
        <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 40px;">
          Sign in
        </button>
      </a>

      <p class="govuk-body"><a href="/_common/not-testing.html">I have forgotten my password</a></p>
    
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help signing in
          </span>
        </summary>
        <div class="govuk-details__text">
          Contact the Rural Payments Agency by email or phone if:<br><br>
          <li>you have forgotten your CRN</li>
          <li>you have lost your CRN</li>
          <li>your CRN is not recognised</li>
          <br>
          Email: <a href="/_common/not-testing.html">ruralpayments@defra.gov.uk</a><br>
          <br>
          Telephone: 03000 200 301<br>
          Monday to Friday, 8:30am to 5pm, except bank holidays<br>
          <a href="/_common/not-testing.html">Find out about call charges (opens in new tab)</a><br>
          <br>
          <a href="/_common/not-testing.html">Register for the Rural Payments service</a> if you do not have an account.
        </div>
      </details>
    
    </div>
  </div>







{% endblock %}