{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Eligible" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}



    
<br>


      
      
      
      
      
      
       
          <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds-from-desktop">
                
                <h1 class="govuk-heading-l">Check your answers</h1>
                
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      What do you need help with?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['needHelp'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      What do you want to change?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['changeRequest'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Explain why you need the change
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['moreDetail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Describe the changes in detail
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['moreDetail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Uploaded evidence
                    </dt>
                    <dd class="govuk-summary-list__value">
                      out-of-stock.jpg
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
                    </dd>
                  </div>
                  
                </dl>
                
                <h2 class="govuk-heading-m">Now send your help request</h2>
                <p class="govuk-body">The RPA will review your request and let you know the outcomes. You cannot request another change until this request is resolved.</p>
                <form action="thank-you" method="post" novalidate>
                  <input type="hidden" name="answers-checked" value="true">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Send
                  </button>
                </form>
              </div>
            </div>
          </main>
        </div>
      
           
      
        
      
      
      
      
      
      
      
      
      
      
     




</main>

{% endblock %}