{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Eligible" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}



    
<br>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>

    

    <div class="govuk-grid-row">
      



      <div class="govuk-grid-column-two-thirds">
      
      
        <form class="form" action="/ftf-describe-reason" method="post">
      
      
      
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              Describe the changes in detail
            </label>
          </h1>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

        <br>

        <h2 class="govuk-heading-m">Upload evidence (optional)</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
        </div> 
      
       
         
          <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 40px;">
            Save and continue
          </button>
        </form>
        
      
      
      
      
      
      
      
      
      
      
      
      </div>
     
      



    
    </div>
  </main>
</div>




</main>

{% endblock %}