{% extends "layouts/main.html" %}

{% set pageName="Confirmation" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<br>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Claim submitted
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We will assess your claim and let you know if we need any further information.<br><br>
          We aim to process claims within 30 working days.<br><br>
          You will get a notification when your claim is approved and paid.<br>
        </p>


        <h2 class="govuk-heading-m">Questions about your claim</h2>
        <p class="govuk-body">If you have any questions about your claim, call the RPA and follow the options for the Farming Transformation Fund scheme.</p>
        <p class="govuk-body"><strong>Telephone</strong><br>
         Telephone: 03000 200 301<br> 
         Monday to Friday, 8:30am to 5pm (except public holidays)<br>
       <a href="/_common/not-testing.html">Find out about call charges (opens in a new tab)</a><br><br>
        
       <strong>Email</strong><br>
       <a href="/_common/not-testing.html">GSClaimqueries@rpa.gov.uk</a></p>


       <br><br>

       <p class="govuk-body">
       <a href="/_common/not-testing.html">Print this page</a><br><br>
       <a href="activity4.html">Go back to the grant task list</a></p>
      </p>

       
 
      </div>
    </div>
  </main>
</div>

{% endblock %}