{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Business details" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<a href="#" class="govuk-back-link">Back</a>



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Business details</h2>
      <p class="govuk-body">Business details for Imaginary Farms Ltd</p>
      


<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-body">Number of employees</label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">Full-time employees, including the owner</div>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">

  <script>
    document.getElementById('width-5').addEventListener('click', function() {
      this.value = '5';
    });
  </script>


<br><br>


<h1 class="govuk-label-wrapper">
  <label class="govuk-body">Business turnover (£)</label>
</h1>
<div class="govuk-input__wrapper">
  <div class="govuk-input__prefix" aria-hidden="true">£</div>
  <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
</div>

<script>
  document.getElementById('cost').addEventListener('click', function() {
    this.value = '50,000';
  });
</script>

        </div>


        </div>
      </div>


      <br>



          <a href="check">
          <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 40px;">
            Continue
          </button>
          </a>
      


    
    </div>
  </main>
</div>




</main>

{% endblock %}