{% extends "layouts/main-claim-round-2.html" %}

{% set pageName="Confirmation" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<br>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        
        
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Interest submitted
            </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
              
          <p class="govuk-body" style="margin: 0;">We have sent you a confirmation email.</p><br>
          <p class="govuk-body" style="margin: 0;">If you do not get an email within 72 hours, please call the RPA helpline and follow the options for the Farming Transformation Fund scheme:</p>
               
        <br><br>
                
        <h2 class="govuk-heading-m">RPA helpline</h2>
    
          <p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)<br>
            <a href="/_common/not-testing.html">Find out about call charges (opens in a new tab)</a>
            </p>
          <p class="govuk-body"><strong>Email</strong><br><a href="/_common/not-testing.html">FTF@rpa.gov.uk</a></p>
     


       <br>



       <h2 class="govuk-heading-m">What happens next</h2>

       <ol class="govuk-list govuk-list--number">
        <li>RPA will be in touch by <strong>24 February 2024</strong>. They will tell you if your project scored well enough to get the full application form.</li>
        <li>If you submit an application, RPA will assess it against other projects and value for money. You will not automatically get a grant. The grant is expected to be highly competitive and you are competing against other projects.</li>
        <li>If your application is successful, you’ll be sent a funding agreement and can begin work on the project.</li>
      </ol>

    

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive"></span>
          You must not start the project
        </strong>
      </div>




      <p class="govuk-body">Starting the project or committing to any costs (such as placing orders) before you receive a funding agreement will invalidate your application.</p>


      <p class="govuk-body">Before you start the project, you can:<br>
        <ul class="govuk-list govuk-list--bullet">
          <li>get quotes from suppliers</li>
          <li>apply for planning permission or an abstraction licence</li>
        </ul>
      </p>




<br><br>




       <p class="govuk-body">
        <a href="activity3.html">Go back to task list</a></p>
       </p>

       
 
      </div>
    </div>
  </main>
</div>

{% endblock %}