{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Download claim form" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing.html">Food and farming</a>
    </li>
  </ol>
</div>

<br>

<img src="/public/images/rpa_logo.png" style="scale: 100%;" alt="logo of the rural payment agency">

<br><br><br>

<style>
  .blue-box {
    background-color: #1D70B8; /* Blue color */
    height: 280px; /* Adjust the height as needed */
    width: 900px; 
    color: white; /* Text color */
    padding: 30px; /* Spacing around the text */
  }

</style>
</head>
<body>

<div class="blue-box">
  <p class="govuk-body-l" style="color: white;">Guidance</p>
  <h1 class="govuk-heading-xl" style="color: white;">Check if you can apply for a Farming Transformation Fund Water Management grant Round 3</h1>
  <p class="govuk-body" style="color: white;">Updated 27 December 2023</p>
</div>

</body>

<br><br>

    <div style="width: 960px; height: 56px; position: relative; background: #F3F2F1;">
      <p class="govuk-body" style="margin-top: 15px; position: absolute; left: 40px;"><strong>Applies to England</strong></p>
    </div>
    
<br>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Contents</p>
        <p class="govuk-body"> <a href="/_common/not-testing.html">Check if you can apply for a Farming Transformation Fund Water Management grant Round 3</a></p>
        <p class="govuk-body"> <a href="/_common/not-testing.html">Who can apply</a></p>
        <p class="govuk-body"> <a href="/_common/not-testing.html">Before you start</a></p>
        <p class="govuk-body"> <a href="/_common/not-testing.html">Problems using the online service</a></p>
      </div>


      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Check if you can apply for a Farming Transformation Fund Water Management grant Round 3</h2>
        <p class="govuk-body">Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check if you can apply for a grant for your project (takes about 5 minutes)</li>
          <li>check how well your project fits the funding priorities (takes about 15 minutes if you have all the project details)</li>
        </ul>

      <br><br>


        <h2 class="govuk-heading-l">Who can apply</h2>
        <p class="govuk-body">You can apply if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>grow crops for the food industry, are a nursery growing ornamentals or are a forestry nursery</li>
          <li>will do the grant-funded work in England</li>
          <li>an estimate the project costs will be over £87,500</li>
        </ul>

      
      <div class="govuk-inset-text">
        If your project is eligible, you can log in to your Rural Payments service account to register your interest and request the full application form.<br><br>
        If you don't have an account, you can <a href="/_common/not-testing.html">create an account with the Rural Payments service</a>.
      </div>
      
      
      
      <br><br>





      <h2 class="govuk-heading-l">Before you start</h2>
      <p class="govuk-body">You need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about your business (for example, number of employees and turnover)</li>
        <li>information about the project (for example, irrigated land in hectares)</li>
        <li>estimated total cost of the items you need</li>
      </ul>
      <p class="govuk-body">If you do not enter any information for more than 20 minutes, your application will time out and you will have to start again.</p>


      <br><br>


      
    <a href="q1-status" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>
      
      
      <br>


      <h2 class="govuk-heading-m">Problems using the online service</h2>
        <p class="govuk-body">If you have any problems with the service, call the RPA and follow the options for the Farming Transformation Fund scheme.</p>
        <p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)<br>
        <a href="/_common/not-testing.html">Find out about call charges (opens in a new tab)</a>
        </p>
        <p class="govuk-body"><strong>Email</strong><br><a href="/_common/not-testing.html">FTF@rpa.gov.uk</a></p>
   
      
      </div>
     
      
    
    </div>
  </main>
</div>




</main>

{% endblock %}