{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} How many bovine animals do you keep? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
<a href="equipment-list" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            How many bovine animals do you keep?
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Approximate number of animals at time of application
          </div>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="bovine-below-6-months">
            Below 6 months
          </label>
          <input class="govuk-input govuk-input--width-4" id="bovine-below-6-months" name="bovineBelow6Months" type="text" autocomplete="bovine-below-6-months">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="bovine-6-months-to-2-years">
            From 6 months to 2 years old
          </label>
          <input class="govuk-input govuk-input--width-4" id="bovine-6-months-to-2-years" name="bovine6MonthsTo2Years" type="text" autocomplete="bovine-6-months-to-2-years">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="dairy-cows">
            Dairy cows
          </label>
          <input class="govuk-input govuk-input--width-4" id="dairy-cows" name="dairyCows" type="text" autocomplete="dairy-cows">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-cattle">
            Other cattle, over 2 years old
          </label>
          <input class="govuk-input govuk-input--width-4" id="other-cattle" name="otherCattle" type="text" autocomplete="other-cattle">
        </div>
      </fieldset>

    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

  </div>

</div>



</main>

{% endblock %}