{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="check-your-business-type" method="post">
    
      <span class="govuk-caption-l">Apply</span>
    <h1 class="govuk-heading-l">Check your details</h1>

    <!-- <p class="govuk-body">Changes in this section will update your Rural Payments service account.</p> -->

    





    <h2 class="govuk-heading-m">Business details</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['busName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single Business Identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sbi'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['bNumber'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business legal status
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['legalStatus'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Companies House number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['chNumber'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          VAT number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['vatNo'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certificate of incorporation reference number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['cIncNo'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-details">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nameNo1'] }}<br>
          Rotary Lane<br>
          Yaptin<br>
          Shappshire<br>
          {{ data['postcode1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-business-address">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
    </dl>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>

</div>
</div>
</main>

{% endblock %}