{% extends "layouts/main-claim-v1-2.html" %}

{% block pageTitle %}
Upload4
{% endblock %}

{% block content %}


<style>
  .container {
      width: 585px;
      height: 110px;
      position: relative;
      border: 3px dashed black;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }

  .text {
      text-align: left;
      margin-top: 40px;
  }

  .button {
      padding: 8px 12px;
      border: none;
      cursor: pointer;
      margin-top: -30px;
      margin-left: 230px;
  }
</style>




<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}


<br><br>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
      <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
        Bank statements </h1>

      <p class="govuk-body-l">We’ll ask you to upload a bank, building society or credit card statement and tell us which items are on each statement.</p>

      <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
        What you can use </h1>

        <p class="govuk-body">The statements must be from a <strong>Plumpton Farm Ltd</strong> business account or credit card. You can either use:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>screenshots from an online account showing payment details and bank or building society logos</li>
          <li>a certified report printed from a banking system</li>
        </ul>

        <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
          Statement rules </h1>
  
          <p class="govuk-body">Statements must show the:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>bank or building society’s name and logo
            <li>account holder name in full</li>
            <li>account number</li>
            <li>transaction date</li>
            <li>transaction type (including payee reference or cheque number)</li>
            <li>transaction amount</li> 
          </ul>
          <p class="govuk-body">You can remove personal information that is not needed from the statements.</p>

          <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
            Invoice amounts </h1>
    
            <p class="govuk-body"> If the transaction amount on the statement does not match the invoice amount, upload either:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>copies of invoices for the other items you’ve bought</li>
              <li>a copy of the monthly statement showing the other items you’ve bought, if you have a supplier account</li>
            </ul>

            <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
              Buying Group</h1>
      
              <p class="govuk-body">If you pay for an item through a Buying Group, upload an email from the supplier or a supplier statement to show:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>you’ve paid the Buying Group</li>
                <li>the Buying Group has paid the supplier</li>
              </ul>
      
      
       

        

      

    </div>
  </div>

<br><br>




     <a href="upload1">
        <button class="govuk-button">
          Continue
        </button>
      </a>



  


    </body>






</main>


{% endblock %}






