{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the items at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
<a href="equipment-list" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-items-other-locations" method="post">

      <span class="govuk-caption-l">About your items</span>
      <h1 class="govuk-heading-l">Items location details</h1>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="main-location-postcode">
            What is the postcode of the main location where items will be located?
          </label>
        </h2>
        <div id="main-location-hint" class="govuk-hint">
          If you are a contractor enter the postcode of where the items are usually located when not in use at a client’s location.
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Main postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>


        <!-- <input class="govuk-input govuk-input--width-10" id="main-location-postcode" name="mainLocationPostcode" type="text" aria-describedby="main-location-hint"> -->

        <!-- <br><br><br> -->

        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="other-location-postcodes">
            Are there any other locations where the items will be located?
          </label>
        </h2>
        <div id="other-location-hint" class="govuk-hint">
          Enter a maximum of 2 postcodes. If you are a contractor you do not need to answer this question.
        </div>
        

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Other postcode 1
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Other postcode 2                   
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
        </div>

        
      </div>


    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}