{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the items at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-items-business-address" method="post">

    <div class="govuk-form-group">
      <span class="govuk-caption-l">About your items</span>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          Will you store the items at the main business address?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="willYouStoreAtBusinessAddress" name="willYouStoreAtBusinessAddress" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="willYouStoreAtBusinessAddress">
              Yes, at the main business address
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="willYouStoreAtBusinessAddress-2" name="willYouStoreAtBusinessAddress" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="willYouStoreAtBusinessAddress-2">
              No, at another address
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}