{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
<a href="equipment-list" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-items-other-locations" method="post">

      <span class="govuk-caption-l">About your equipment</span>
      <h1 class="govuk-heading-l">Equipment location details</h1>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="main-location-postcode">
            What is the postcode of the main location where items will be located?
          </label>
        </h2>
        <div id="main-location-hint" class="govuk-hint">
          If you are a contractor enter the postcode of where the items are usually located when not in use at a client’s location.
        </div>
        <input class="govuk-input govuk-input--width-10" id="main-location-postcode" name="mainLocationPostcode" type="text" aria-describedby="main-location-hint">

        <br><br><br>

        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="other-location-postcodes">
            Are there any other locations where the items will be located?
          </label>
        </h2>
        <div id="other-location-hint" class="govuk-hint">
          Enter a maximum of 2 postcodes. If you are a contractor you do not need to answer this question.
        </div>
        <textarea class="govuk-textarea" id="other-location-postcodes" name="otherLocationPostcodes" rows="3" aria-describedby="other-location-hint"></textarea>
      </div>


    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}