{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the items at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}






    

    


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-items-livestock-information" method="post">

      <span class="govuk-caption-l">About your items</span>
      <h1 class="govuk-heading-l">Livestock information</h1>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="bovine-animals">
            Total number of bovine animals
          </label>
        </h2>
        <input class="govuk-input govuk-input--width-10" id="bovine-animals" name="bovineAnimals" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
<br><br><br>
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="account-number">
            County parish holding number
          </label>
        </h2>
        <div id="account-number-hint" class="govuk-hint">
          Enter the county parish holding (CPH) number where you record animal movements (for example 08/123/4567)
        </div>
        <div class="govuk-form-group">
        
          <input class="govuk-input govuk-input--width-2" id="account-number" name="accountNumber1" type="text">
        / 
       
          
          <input class="govuk-input govuk-input--width-3" id="account-number" name="accountNumber2" type="text">
        /
       
          
          <input class="govuk-input govuk-input--width-4" id="account-number" name="accountNumber3" type="text">
        </div>

      </div>


    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}



