{% extends "layouts/main-claim-round-2.html" %}

{% set pageName="Home" %}

{% block content %}


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">October 2023</span>
    <h1 class="govuk-heading-xl">
      Claim
    </h1>

    <h2 class="govuk-heading-l">FTF Application Prototypes</h2>

    <p class="govuk-body-l">Scenario: Start your application</p><br>
        
    
    
    <h3 class="govuk-heading-m">1. Application journey</h3>
    <p class="govuk-body">Test the entire journey + confirmation page</p>


    <p class="govuk-body"><a href="/ftf/claim/v2-0/index" target="_blank">V2.0: Full page: Type (opens in a new tab)</a></p>

    <hr style="margin: 40px 0;">



    <h3 class="govuk-heading-m">2. Evidence headers</h3>
    <p class="govuk-body">Select the preferred headers</p>

    <p class="govuk-body"><a href="/ftf/claim/v2-0/upload2#evidence" target="_blank">V2.0: Full page: Type (opens in a new tab)</a></p>
    <p class="govuk-body"><a href="/ftf/claim/v2-1/upload2#evidence" target="_blank">V2.1: Full page: Proof (opens in a new tab)</a></p>
    

   


</main>

{% endblock %}