{% if (data['status'] == "01a")  %}

<h3 class="govuk-heading-m">Expression of interest in progress</h3>
<div class="govuk-inset-text">
    Expression of interest closes 11:59pm on <strong>31 January 2024</strong>
</div>

{% elif (data['status'] == "01b") %}

<h3 class="govuk-heading-m">Expression of interest under review</h3>
<div class="govuk-inset-text">
    RPA should complete the review by <strong>28 February 2024</strong>
</div>


{% elif (data['status'] == "01c") %}

<h3 class="govuk-heading-m">Expression of interest not accepted</h3>
<p class="govuk-body">You have not been invited to submit a full application.</p>


{% elif (data['status'] == "02a") %}
<!-- EOI approved, application ready to start -->

<h3 class="govuk-heading-m">You can start your application.</h3>
<div class="govuk-inset-text">
    Application deadline is 11:59pm on <strong>31 March 2024</strong>
</div>


{% elif (data['status'] == "02b") %}
<!-- Application in progress after downloading forms -->

<h3 class="govuk-heading-m">Application in progess</h3>
<div class="govuk-inset-text">
    Application deadline is 11:59pm on <strong>31 March 2024</strong>
</div>



{% elif (data['status'] == "02c") %}
<!-- Application under review -->

<h3 class="govuk-heading-m">Application under review</h3>
<div class="govuk-inset-text">
    RPA should complete the review by <strong>30 April 2024</strong>
</div>


{% elif (data['status'] == "02d") %}
<!-- Application under review -->

<h3 class="govuk-heading-m">Application unsuccessful</h3>
<p class="govuk-body">Your <a href="">application outcome</a> explains in detail why your project was not successful.</p>


{% elif (data['status'] == "03") %}
<!-- Application successful, agreement ready to read and sign -->

<h3 class="govuk-heading-m">Read and sign your grant funding agreement</h3>
<div class="govuk-inset-text">
    Your agreement offer will expire at 11:59pm on <strong>31 May 2024</strong>
</div>



{% elif (data['status'] == "04") %}
<!-- First claim window open -->

<h3 class="govuk-heading-m">You can submit your first claim</h3>
<div class="govuk-inset-text">
    Your claim is due by 11:59pm on <strong>31 May 2025</strong>
</div>


{% elif (data['status'] == "05") %}
<!-- Second claim window open -->

<h3 class="govuk-heading-m">You can submit your second claim</h3>
<div class="govuk-inset-text">
    Your claim is due by 11:59pm on <strong>31 August 2025</strong>
</div>


{% elif (data['status'] == "06") %}
<!-- Third claim window open -->

<h3 class="govuk-heading-m">You can submit your third claim</h3>
<div class="govuk-inset-text">
    Your claim is due by 11:59pm on <strong>31 November 2025</strong>
</div>

{% endif %}