  <li>
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">2. </span> Apply
    </h2>
    <p class="govuk-hint">You will be notified if you are approved to start the full application.</p>
    <ul class="govuk-task-list">

<!-- TASK 2-1 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Download application forms</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 2-2 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Upload application forms and evidence</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 2-3 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Check your business details</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 2-4 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit application</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 2-5 -->
      
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Your application outcome</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>

    </ul>
  </li>