<li>
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">4. </span> Submit first claim
    </h2>
    <ul class="govuk-task-list">


<!-- TASK 4-1 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Download claim form</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 4-2 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Upload claim form and evidence</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 4-3 -->      

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Submit claim</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>
  </li>