<li>
    <h2 class="govuk-prototype-kit-task-list__section">
      <span class="govuk-prototype-kit-task-list__section-number">3. </span> Sign agreement
    </h2>
    <ul class="govuk-task-list">

<!-- TASK 3-1 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Read agreement</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 3-2 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Read terms and conditions</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>


<!-- TASK 3-3 -->

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Sign and accept agreement</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
          Cannot start yet
        </div>
      </li>
    </ul>
  </li>