<li>

  {% if (data['monitoring-01'] == "01") %}  <!-- Monitoring 01 Scenario 1 -->
  <h2 class="govuk-prototype-kit-task-list__section">
    <span class="govuk-prototype-kit-task-list__section-number">7. </span> Submit year 1 report
  </h2>
  
  <ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="monitoring-01-1-status">Add and upload reporting evidence</a>
      </div>
      <div class="govuk-task-list__status" id="monitoring-01-1-status">
        <strong class="govuk-tag govuk-tag--blue">
          Not started yet
        </strong>
      </div>
    </li>

    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit reporting</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="monitoring-01-2-status">
        Cannot start yet
      </div>
    </li>
  </ul>


  {% elif (data['monitoring-01'] == "02a") %}  <!-- Monitoring 01 Scenario 2a -->
  <h2 class="govuk-prototype-kit-task-list__section">
    <span class="govuk-prototype-kit-task-list__section-number">7. </span> Submit year 1 report
  </h2>
  
  <ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="monitoring-01-1-status">Add and upload reporting evidence</a>
      </div>
      <div class="govuk-task-list__status" id="monitoring-01-1-status">
        <strong class="govuk-tag govuk-tag--light-blue">
          In progress
        </strong>
      </div>
    </li>

    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <div>Submit reporting</div>
      </div>
      <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="monitoring-01-2-status">
        Cannot start yet
      </div>
    </li>
  </ul>


  {% elif (data['monitoring-01'] == "02b") %}  <!-- Monitoring 01 Scenario 2b -->
  <h2 class="govuk-prototype-kit-task-list__section">
    <span class="govuk-prototype-kit-task-list__section-number">7. </span> Submit year 1 report
  </h2>
  
  <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="monitoring-01-1-status">Add and upload reporting evidence</a>
      </div>
      <div class="govuk-task-list__status" id="monitoring-01-1-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="monitoring-01-2-status">Submit reporting</a>
      </div>
      <div class="govuk-task-list__status" id="monitoring-01-2-status">
        <strong class="govuk-tag govuk-tag--blue">
          Not started yet
        </strong>
      </div>
    </li>

  </ul>


  {% elif (data['monitoring-01'] == "03") %}  <!-- Monitoring 01 Scenario 3 -->
  <h2 class="govuk-prototype-kit-task-list__section">
    <span class="govuk-prototype-kit-task-list__section-number">7. </span> Submit year 1 report
  </h2>
  
  <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="monitoring-01-1-status">Add and upload reporting evidence</a>
      </div>
      <div class="govuk-task-list__status" id="monitoring-01-1-status">
          Completed
      </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="monitoring-01-2-status">Submit reporting</a>
      </div>
      <div class="govuk-task-list__status" id="monitoring-01-2-status">
          Completed
      </div>
    </li>

  </ul>

  {% endif %}

</li>