
<p class="govuk-body">Read the following sections:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Your grant funding agreement</li>
  <li>Annex A – Eligible expenditure and claim submission</li>
  <li>Annex B – Outputs</li>
  <li>Annex C – Project-specific conditions</li>
  <li>Terms and conditions</li>
</ul>

<div class="govuk-inset-text">
  You must read and accept the agreement by 11:59pm on <strong>13 September 2024</strong> or the offer will expire and we cannot award you a grant.
</div>

<p class="govuk-body">Once you’ve reviewed and agreed to the information in this agreement, you can download a copy for your own records.</p>