<span class="content-section">
<h2 class="govuk-heading-m">Changes to your agreement</h2>
<p class="govuk-body">If you need to make a change to your project from what is set out in your grant funding agreement, you must get approval from the RPA before you make the change.</p>
<p class="govuk-body">Examples of changes to your project include changes to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>supplier</li>
  <li>your business such as status or ownership</li>
  <li>your grant-funded items such as ownership, usage or any deviation from your agreed project</li>
  <li>project timescales such as claim submission or completion dates</li>
  <li>project outputs</li>
  <li>funding</li>
</ul>

<p class="govuk-body">Your agreement remains active for 5 years after your final claim is paid and there could be a site visit at any point during that time. If you make changes that have not been approved by us, we could end your agreement and reclaim any grant we have already paid.</p>
</span>