<span class="content-section">
<h2 class="govuk-heading-m">Changes to your agreement</h2>
<p class="govuk-body">If you need to make a change to your project from what is set out in your grant funding agreement, you must get approval from the RPA before you make the change.</p>
<p class="govuk-body">Examples of changes to your project include changes to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>supplier</li>
  <li>your business such as status or ownership</li>
  <li>our grant-funded items such as ownership, usage or any deviation from your agreed project</li>
  <li>project timescales such as claim submission or completion dates</li>
  <li>project outputs</li>
  <li>match funding</li>
</ul>

<p class="govuk-body">Your agreement remains active for 5 years after your final claim is paid and there could be a site visit at any point during that time. If you make changes that have not been approved by us, we could end your agreement and reclaim any grant we have already paid.</p>
<p class="govuk-body">There may be times when we wish to use examples of projects in our publicity. If you do not want your project to be used for publicity purposes such as case studies or ministerial visits, please contact us.</p>
</span>

<span class="content-section">
<h2 class="govuk-heading-m">Questions about your agreement</h2>
<p class="govuk-body">If you have any questions about your agreement, call the RPA and follow the options for the Farming Transformation Fund scheme.</p>
<p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)</p>
<p class="govuk-body"><strong>Email</strong><br><a href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a></p>
</span>

<span class="content-section">
<h2 class="govuk-heading-m">Withdrawing your agreement</h2>
<p class="govuk-body">If you do not want the grant funding, you can <a href="">withdraw your application</a> before you make a claim.</p>
</span>