<span class="content-section">
<p class="govuk-body">You have been awarded a grant of <strong>£72,746.26</strong>.</p>
<p class="govuk-body">This grant is 40% of the eligible expenditure, up to the maximum sum of £181,865.66. The grant is awarded on the terms set out in this Grant Funding Agreement (GFA).</p>
<p class="govuk-body">Your Grant Funding Agreement (‘the Agreement’) is made up of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the content on this screen</li>
  <li>Annexes A to C</li>
  <li>Terms and Conditions</li>
</ul>
<p class="govuk-body">Once you’ve reviewed and agreed to the information in this Agreement, you can download a copy for your own records.</p>
</span>


<span class="content-section">
<h2 class="govuk-heading-l">Key dates in your Agreement</h2>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Start date</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">12/05/2023</td>
      <td class="govuk-table__cell">Date your Agreement starts and the earliest date that any expenditure you incur (costs) in relation to the project can be eligible.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Completion date</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">10/04/2025</td>
      <td class="govuk-table__cell">Date your project will be complete and you'll submit your final claim by.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">End date</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">10/04/2029</td>
      <td class="govuk-table__cell">Date your Agreement ends (5 years after the date of the final payment).</td>
    </tr>
  </tbody>
</table>
<p class="govuk-body">In your application you declared that your business is VAT registered, so you will not be including VAT in your grant claims.</p>
<p class="govuk-body">Payments under the Farming Investment Fund may be subject to subsidy control or equivalent rules. The grant has been notified as domestic support under Annex 2 of the World Trade Organisation (WTO) Agreement on Agriculture and is awarded on the basis it is outside the scope of the Trade and Cooperation Agreement by virtue of Article 364 of that Agreement.</p>
<p class="govuk-body">Grant payments under the Farming Investment Fund are subject to normal UK tax rules, so you may need to tell HMRC about this grant. For more information, speak with your accountant or go to <a href="" target="_blank">GOV.UK (opens in new tab)</a> and search for ‘BIM40451’.</p>
</span>