<p class="govuk-body-l">The expected outputs of your grant-funded project.</p>

<span class="content-section">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Outputs</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Project outputs</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Current or baseline outputs</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Expected project outputs</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Year achieved</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Increase in land area irrigated (ha)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">78</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Year 1</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Increase in reservoir storage capacity (m<sup>3</sup>)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">60,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Year 1</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Number of businesses benefiting</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Year 1</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Number of new techniques*</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Year 1</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Number of new products*</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Year 1</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Reduction in annual summer surface water abstraction licenced volume (m<sup>3</sup>)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Reduction in borehole abstraction volume (m<sup>3</sup>)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Reduction in mains water use volume (m<sup>3</sup>)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Number of FTE jobs created</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Year 1</td>
    </tr>
  </tbody>
</table>
<p class="govuk-body-s">* New products and techniques as listed</p>
</span>



<span class="content-section">
  <h3 class="govuk-heading-m">New products (crops introduced)</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Field-scale vegetables – Courgettes</li>
    <li>Field-scale vegetables – Tenderstem broccoli</li>
  </ul>
</span>


<span class="content-section">
  <h3 class="govuk-heading-m">New techniques</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Trickle</li>
    <li>Boom</li>
    <li>Water storing (reservoir)</li>
  </ul>
</span>