<span class="content-section">
<p class="govuk-body">Your expression of interest has been accepted – you can now start your full application.</p>

<div class="govuk-inset-text">
  The application deadline is 11:59pm on <strong>31 March 2024</strong>.
</div>
</span>

<span class="content-section">

  <h2 class="govuk-heading-m">What you need to do</h2>

  <p class="govuk-body"><a href="activity1">Download the Word application form and Excel appendix</a></p>


<p class="govuk-body">Before you fill in the full application, you need to check what evidence you must provide in the <a href="/_common/not-testing.html" target="_blank">Water Management grant manual (opens in a new tab)</a>.</p>

<p class="govuk-body">Evidence will include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>financial accounts</li>
  <li>linked businesses and their accounts</li>
  <li>licences and permissions</li>
  <li>project funding</li>
  <li>quotes and tenders</li>
  <li>VAT in project costs</li>
  <li>plans and drawings</li>
  <li>third-party agreements</li>
  <li>letters of support</li>
</ul>

<p class="govuk-body">You should also read <a target="_blank" href="/_common/not-testing.html">How to submit a Water Management grant full application (opens in a new tab)</a>.</p>
<p class="govuk-body">When you are ready to submit your application, <a target="_blank" href="/_common/not-testing.html">upload your application forms and evidence </a>.</p>

<!-- CHANGING THE WARNING COMPONENT TO MATCH GOV UK DESIGN SYSTEM
<div class="govuk-inset-text">
  <strong>Warning:</strong> Do not upload handwritten and scanned copies or PDFs of these forms.
</div>
-->


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Do not upload handwritten and scanned copies or PDFs of these forms.
  </strong>
</div>


</span>



<span class="content-section">
  <h2 class="govuk-heading-m">You must not start the project</h2>

  <p class="govuk-body">Starting the project or committing to any costs (such as placing orders) before you receive a funding agreement will invalidate your application.</p>
  <p class="govuk-body">Before you start the project, you can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>get quotes from suppliers</li>
    <li>apply for planning permission or any other licences or permissions required</li>
    <li>check what evidence you must provide in the <a href="/_common/not-testing.html">Water Management grant manual (opens in a new tab)</a></li>
    <li>read <a href="/_common/not-testing.html">How to submit a Water Management grant full application (opens in a new tab)</a></li>
  </ul>
</span>