<p class="govuk-body-l">Confirm you accept the grant funding agreement and its terms and conditions.</p>

<p class="govuk-body">I confirm that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>I have read and understood the agreement and its terms and conditions.</li>
  <li>I wish to receive the grant funding to support the delivery of the project.</li>
  <li>I understand the grant funding is conditional based on the terms and conditions.</li>
  <li>I understand the information in and my acceptance of the grant funding agreement will be kept on file and checked against each claim for eligible project costs I submit.</li>
</ul>