<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Questions about your claim
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">If you have any questions about your claim, call the RPA and follow the options for the Farming Transformation Fund scheme.</p>
      <p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)</p>
      <p class="govuk-body"><strong>Email</strong><br><a href="mailto:FTF@rpa.gov.uk">GSClaimqueries@rpa.gov.uk</a></p>
    </div>
  </details>