{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Select item quantity {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-add-to-selected-items" method="post">
      <input type="hidden" name="termName" value="{{ item.termName }}">

    <span class="govuk-caption-l">{{ item.title }} (FETF{{ item.itemCode }})</span>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="quantity">
      How many do you need?
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">
    Maximum quantity: 3
  </div>
  <div class="govuk-input__wrapper">
    <input class="govuk-input govuk-input--width-5" id="quantity" name="quantity" type="text" spellcheck="false">
    <div class="govuk-input__suffix" aria-hidden="true">item quantity</div>
  </div>
</div>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
<br>

</form>


<span style="clear: both; display: block;">
  <a href="items/equipment-list">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="viewOtherItems">
    Cancel
  </button>
  </a>
</span>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "../../_includes/selected-items-panel.html" %}
    <p class="govuk-body-s">The minimum grant you can apply for is £1,000 and the maximum grant is £50,000.</p>
  </div>


</div>



</main>

{% endblock %}