{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Select item quantity {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ item.title }}<!-- Will need to be a GET statement pulling data from previous page -->Item title</span>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="quantity">
      How many do you need?
    </label>
  </h1>
  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="quantity" name="quantity" type="text" spellcheck="false">
    <div class="govuk-input__suffix" aria-hidden="true">item quantity</div>
  </div>
</div>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Add quantity
</button>
<br>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Cancel
</button>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "../../_includes/selected-items-panel.html" %}
  </div>


</div>



</main>

{% endblock %}