{% extends "../../../layouts/main.html" %}

{% block pageTitle %} Home – GOV.UK Prototype Kit {% endblock %}


{% block beforeContent %}

  
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="principles-list">Principles</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">{{ item.title }}
      </li>
    </ol>
  </div>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ item.category }}</span>

    <h1 class="govuk-heading-xl">{{ item.title }} ({{ item.id }})</h1>

    <p class="govuk-body-l"><strong>Grant amount per item:</strong> £{{ item.value }}</p>


    <!-- {% if item.disciplines.disciplineInteraction %}
    <span style="display: inline-block;">
      {{govukTag({
        text: "Interaction design",
        classes: "govuk-tag--blue"
      })}}
    </span>
    {% endif %}
    {% if item.disciplines.disciplineContent %}
    <span style="display: inline-block;">
      {{govukTag({
        text: "Content design",
        classes: "govuk-tag--orange"
      })}}
    </span>
    {% endif %}
    {% if item.disciplines.disciplineService %}
    <span style="display: inline-block;">
      {{govukTag({
        text: "Service design",
        classes: "govuk-tag--purple"
      })}}
    </span>
    {% endif %}
    {% if item.disciplines.disciplineResearch %}
    <span style="display: inline-block;">
      {{govukTag({
        text: "User research",
        classes: "govuk-tag--turquoise"
      })}}
    </span>
    {% endif %} -->



{% if item.description %}

<h2 class="govuk-heading-l">Description</h2>
<p class="govuk-body">{{ item.description.descriptionText01 }}</p>
<p class="govuk-body">{{ item.description.descriptionText02 }}</p>
<p class="govuk-body">{{ item.description.descriptionText03 }}</p>
<p class="govuk-body">{{ item.description.descriptionText04 }}</p>
<p class="govuk-body">{{ item.description.descriptionText05 }}</p>
<p class="govuk-body">{{ item.description.descriptionBullet01 }}</p>
<p class="govuk-body">{{ item.description.descriptionBullet02 }}</p>
<p class="govuk-body">{{ item.description.descriptionBullet03 }}</p>
<p class="govuk-body">{{ item.description.descriptionBullet04 }}</p>
<p class="govuk-body">{{ item.description.descriptionBullet05 }}</p>

{% endif %}


{% if item.eligibility %}

<h3 class="govuk-heading-m">Eligibility</h3>
<p class="govuk-body">{{ item.carbonImpact.impactText01 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText02 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText03 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText04 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText05 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText06 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText07 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText08 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText09 }}</p>
<p class="govuk-body">{{ item.carbonImpact.impactText10 }}</p>

{% endif %}


{% if item.measures %}

<h3 class="govuk-heading-m">What we can measure</h3>
<ul class="govuk-list govuk-list--bullet">
  {% if item.measures.measuresText01 %}<li>{{ item.measures.measuresText01 }}</li>{% endif %}
  {% if item.measures.measuresText02 %}<li>{{ item.measures.measuresText02 }}</li>{% endif %}
  {% if item.measures.measuresText03 %}<li>{{ item.measures.measuresText03 }}</li>{% endif %}
  {% if item.measures.measuresText04 %}<li>{{ item.measures.measuresText04 }}</li>{% endif %}
  {% if item.measures.measuresText05 %}<li>{{ item.measures.measuresText05 }}</li>{% endif %}
  {% if item.measures.measuresText06 %}<li>{{ item.measures.measuresText06 }}</li>{% endif %}
  {% if item.measures.measuresText07 %}<li>{{ item.measures.measuresText07 }}</li>{% endif %}
  {% if item.measures.measuresText08 %}<li>{{ item.measures.measuresText08 }}</li>{% endif %}
  {% if item.measures.measuresText09 %}<li>{{ item.measures.measuresText09 }}</li>{% endif %}
  {% if item.measures.measuresText10 %}<li>{{ item.measures.measuresText10 }}</li>{% endif %}
</ul>

{% endif %}



    {% endblock %}
  </div>
</div>
