{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Have you completed this section? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-items-complete" method="post">
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          Have you completed this section?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="haveYouCompletedThisSection" name="haveYouCompletedThisSection" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisSection">
              Yes, I’ve completed this section
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="haveYouCompletedThisSection-2" name="haveYouCompletedThisSection" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisSection-2">
              No, I’ll come back to it later
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

  </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "../../_includes/selected-items-panel.html" %}
  </div>


</div>



</main>

{% endblock %}