{% extends "layouts/main-agreement-round-2.html" %}

{% block pageTitle %}
Application outcome unsuccessful
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
}) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="agreement-detail">


        <span class="govuk-caption-xl">Browns Hill Farm reservoir (WM-VMA-1234)</span>
        <h1 class="govuk-heading-xl">Your application outcome</h1>

        {% include "../../_includes/body-content_application-outcome-unsuccessful.html" %}



        </form>

        {% include "../../_includes/details-block_outcome-questions-contact.html" %}
      
      
      </div>
      <div class="govuk-grid-column-one-third">
        <!-- SIDE COLUMN BLOCK -->
      </div>
    </div>
  </main>
</div>

{% endblock %}
