{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Check your claim" %}

{% block content %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Apply for a Water Management Grant</span>
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Your application forms and evidence</h1>
    {% if (data['progress'] == "submitted") %}
    <span class="govuk-body">Application form, appendix and evidence submitted as part of your application.</span>{% else %}
    <span class="govuk-body">Review you have uploaded your application form, appendix and evidence.</span>{% endif %}

<br><br><br>



      <h2 class="govuk-heading-l">1. Application forms</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application form
          </dt>
          <dd class="govuk-summary-list__value">
            Application form - Water Management grant - FTF.docx , 235KB
          </dd>
          {% if (data['progress'] == "submitted") %}{% else %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application appendix
          </dt>
          <dd class="govuk-summary-list__value">
            Application appendix - Water Management grant - FTF.xls , 209KB
          </dd>
          {% if (data['progress'] == "submitted") %}{% else %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
          {% endif %}
        </div>

      </dl>
        
        <br>



    <h2 class="govuk-heading-l" id="evidence">2. Evidence</h2>
   
   
    <h3 class="govuk-heading-m">Financial accounts</h3>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have full accounts for the last 3 years?
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
            {% endif %}
          </div>
                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Financial evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Financial accounts year 1.pdf , 3MB<br>
              Financial accounts year 2.pdf , 3MB<br>
              Financial accounts year 2.pdf , 3MB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>









<br><br><br>










        <h3 class="govuk-heading-m">Linked business accounts</h3>

        <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have a linked business?
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
            {% endif %}
          </div>
                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Linked business 1 Ltd
            </dt>
       
            <dd class="govuk-summary-list__value">
              Accounts Y1 - Linked business 1 Ltd.pdf , 1MB<br>
              Accounts Y2 - Linked business 1 Ltd.pdf , 1MB<br>
              Accounts Y3 - Linked business 1 Ltd.pdf , 1MB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Linked business 2 Ltd
            </dt>
       
            <dd class="govuk-summary-list__value">
              Accounts Y1 - Linked business 2 Ltd.pdf , 1MB<br>
              Accounts Y2 - Linked business 2 Ltd.pdf , 1MB<br>
              Accounts Y3 - Linked business 2 Ltd.pdf , 1MB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>



        <br><br><br>




        <h3 class="govuk-heading-m">Licences and permissions</h3>

        <dl class="govuk-summary-list">

                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Licences.pdf , 100KB<br>
              Permissions.pdf , 50KB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>



        <br><br><br>




        <h3 class="govuk-heading-m">Project funding</h3>

        <dl class="govuk-summary-list">

                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Project funding 1.pdf , 100KB<br>
              Project funding 2.pdf , 100KB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>



        <br><br><br>




        <h3 class="govuk-heading-m">Quotes and tenders</h3>

        <dl class="govuk-summary-list">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have 3 quotes for each item?
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
            {% endif %}
          </div>


                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Quote 1.pdf , 100KB<br>
              Quote 2.pdf , 100KB<br>
              Quote 3.pdf , 100KB<br>
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>




        <br><br><br>




        <h3 class="govuk-heading-m">VAT in project costs</h3>

        <dl class="govuk-summary-list">

                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              VAT status.pdf , 100KB<br>
              Accountant letter.pdf , 50KB<br>
              Confirmation.pdf , 100KB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>




        <br><br><br>




        <h3 class="govuk-heading-m">Plans and drawings</h3>

        <dl class="govuk-summary-list">

                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Plans.pdf , 7MB<br>
              Drawings.pdf , 10MB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>






        <br><br><br>




        <h3 class="govuk-heading-m">Third-party agreements</h3>

        <dl class="govuk-summary-list">

                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Agreement 1.pdf , 100KB<br>
              Agreement 2.pdf , 100KB
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>







        <br><br><br>






        <h3 class="govuk-heading-m">Letters of support</h3>

        <dl class="govuk-summary-list">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you collaborating with other businesses?
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
            {% endif %}
          </div>


                   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
       
            <dd class="govuk-summary-list__value">
              Letter of support 1.pdf , 100KB<br>
              Letter of support 2.pdf , 100KB<br>
              Agreement terms.pdf , 50KB<br>
            </dd>
            {% if (data['progress'] == "submitted") %}{% else %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
            {% endif %}
          </div>
        </dl>










<br><br><br>

      <a href="activity2?02-03=ready">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>














</main>

{% endblock %}