
{% extends "layouts/main-fetf.html" %}

{% block pageTitle %}
Agreement details
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
}) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="../../activity-list/v2-0/?fetf-status=02&fetf-apply=03b&fetf-agree=02b&fetf-claim=01">

        <span class="govuk-caption-xl">Sign agreement</span>
        <h1 class="govuk-heading-xl">Your grant funding agreement</h1>

        {% include "../../_includes/body-content_agreement-detail-main-block.html" %}



          {{govukButton({
              text: "Continue"
          })}}
        
        </form>

      
      </div>
      <div class="govuk-grid-column-one-third">
        <!-- SIDE COLUMN BLOCK -->
      </div>
    </div>
  </main>
</div>

{% endblock %}
