{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Upload 1" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<a href="#" class="govuk-back-link">Back</a>



<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Upload evidence</span>
    <h1 class="govuk-heading-xl">Letters of support</h1>
  


    <p class="govuk-body" style="margin-top: -20px;">If you intend to collaborate with other businesses, you must provide:<br>
      <ul class="govuk-list govuk-list--bullet">
        <li>a dated letter or email of support from each business</li>
        <li>name and contact details for each business</li>
        <li>the agreement details</li>
        <li>the terms of the agreement</li>
      </ul>
    </p>



    <hr style="margin: 50px 0;">


    <h1 class="govuk-heading-l">Evidence</h1>

    <p class="govuk-body" style="color: #505A5F;">Supported file types are PDF, DOC or DOCX. Maximum file size is 20MB.</p>

  
    <br>


    <div style="width: 630px; height: 300px; position: relative">
      <div style="width: 367.50px; left: 0px; top: 0px; position: absolute; color: black; font-size: 19px; font-family: Arial, Helvetica; font-weight: 700; line-height: 30px; word-wrap: break-word">Files added</div>
      <div style="width: 630px; height: 50px; left: 0px; top: 61px; position: absolute">
        <div style="width: 421.03px; left: 0px; top: 0px; position: absolute; color: black; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; line-height: 30px; word-wrap: break-word">Letter of support 1.pdf , 100KB</div>
        <div style="width: 105px; left: 525px; top: 0px; position: absolute; text-align: right; color: #1D70B8; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; text-decoration: underline; line-height: 30px; word-wrap: break-word">Delete file</div>
        <div style="width: 630px; height: 1px; left: 0px; top: 49px; position: absolute; background: #B1B4B6"></div>
      </div>
      <div style="width: 630px; height: 50px; left: 0px; top: 201px; position: absolute">
        <div style="width: 421.03px; left: 0px; top: 0px; position: absolute; color: black; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; line-height: 30px; word-wrap: break-word">Agreement terms.pdf , 50KB</div>
        <div style="width: 105px; left: 525px; top: 0px; position: absolute; text-align: right; color: #1D70B8; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; text-decoration: underline; line-height: 30px; word-wrap: break-word">Delete file</div>
        <div style="width: 630px; height: 1px; left: 0px; top: 49px; position: absolute; background: #B1B4B6"></div>
      </div>
      <div style="width: 630px; height: 50px; left: 0px; top: 131px; position: absolute">
        <div style="width: 421.03px; left: 0px; top: 0px; position: absolute; color: black; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; line-height: 30px; word-wrap: break-word">Letter of support 2.pdf , 100KB</div>
        <div style="width: 105px; left: 525px; top: 0px; position: absolute; text-align: right; color: #1D70B8; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; text-decoration: underline; line-height: 30px; word-wrap: break-word">Delete file</div>
        <div style="width: 630px; height: 1px; left: 0px; top: 49px; position: absolute; background: #B1B4B6"></div>
      </div>
    </div>
    
    <div style="width: 630px; height: 202px; position: relative">
      <div style="width: 357px; left: 0px; top: 0px; position: absolute; color: black; font-size: 19px; font-family: Arial, Helvetica; font-weight: 700; line-height: 30px; word-wrap: break-word">Upload a file</div>
      <div style="width: 224px; left: 18px; top: 107px; position: absolute; color: black; font-size: 18px; font-family: Arial, Helvetica; font-weight: 300; line-height: 30px; word-wrap: break-word">Drag and drop files here or</div>
      <div style="width: 630px; height: 164px; left: 0px; top: 38px; position: absolute; border: 3px black dashed"></div>
      <div style="width: 120px; height: 40px; padding-top: 30px; padding-bottom: 6px; left: 240px; top: 102px; position: absolute; background: #ffffff; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Choose file
        </button>
  
    </div>
    </div>
    <br><br><br>

</main>


<a href="/ftf/application/v3-0/upload-completed?01=c&02=c&03=c&04=c&05=c&06=c&07=c&08=c&09=c&10=c">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</a>
    



{% endblock %}