<div class="filter-box">

<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Filter by</h2>

     <form  method="post" novalidate action="/principles-list/apply-filters">

<!-- 
       {{ govukCheckboxes({
         idPrefix: 'section',
         name: 'section',
         classes: "govuk-checkboxes--small",
         fieldset: {
           legend: {
             text: 'Section',
             classes: 'govuk-fieldset__legend--s'
           }
         },
         items: [
           {
            value: 'Designing (service) journeys', 
            text: 'Designing (service) journeys',
             checked:  checked("section", "Designing (service) journeys")
           },
           {
            value: 'Designing (for) user behaviour', 
            text: 'Designing (for) user behaviour',
             checked:  checked("section", "Designing (for) user behaviour")
           },
           {
            value: 'Research', 
            text: 'Research',
             checked:  checked("section", "Research")
           },
           {
            value: 'Interfaces and interactions',
            text: 'Interfaces and interactions',
            checked:  checked("section", "Interfaces and interactions")
          },
          {
            value: 'Content',
            text: 'Content',
            checked:  checked("section", "Content")
          }
         ]
       }) }}
 -->

       
       {{ govukCheckboxes({
        idPrefix: 'disciplines',
        name: 'disciplines',
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: 'Disciplines',
            classes: 'govuk-fieldset__legend--s'
          }
        },
        items: [
          {
            value: 'Content design',
            text: 'Content design',
            checked:  checked("disciplines", "Content design")
          },
          {
            value: 'Interaction design',
            text: 'Interaction design',
            checked:  checked("disciplines", "Interaction design")
          },
          {
            value: 'Service design',
            text: 'Service design',
            checked:  checked("disciplines", "Service design")
          },
          {
            value: 'User research',
            text: 'User research',
            checked:  checked("disciplines", "User research")
          }
        ]
      }) }}


       <div class="govuk-button-group">
           {{ govukButton({
         text: "Apply filters"
       }) }}


       {{ govukButton({
           text: "Clear filters",
           classes: "govuk-button--secondary",
           name: "clearFilters",
           value: "true"
         }) }}

         </div>

</form>

</div>