{% extends "layouts/main-fetf.html" %}

{% set pageName="Login" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<br><br>

<main class="govuk-main-wrapper " id="main-content" role="main">
          
    
    
    
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          


<form action="/fetf/feedback-question" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
  



<div class="govuk-form-group">

<fieldset class="govuk-fieldset" id="give-feedback-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

<h1 class="govuk-fieldset__heading">
What do you want to do?
</h1>

</legend>


<div class="govuk-radios"
data-module="govuk-radios">


  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="give-feedback" name="give-feedback" type="radio" value="true" data-aria-controls="conditional-give-feedback">
    <label class="govuk-label govuk-radios__label" id="give-feedback-true-label" for="give-feedback">
  Leave feedback
</label>
    
  </div>
  
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-give-feedback">
      
  
      <p>We can’t reply to your message, but feedback helps improve the service</p>


    </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="give-feedback-false" name="give-feedback" type="radio" value="false">
    <label class="govuk-label govuk-radios__label" id="give-feedback-false-label" for="give-feedback-false">
  Get help with my application
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>


<button data-prevent-double-click="true" class="govuk-button button" data-module="govuk-button">
  Continue
</button>


    
            <input type="hidden" name="x-csrf-token" value="ljC3Lr1O-t2gYMppSbHpX1WDjSMSYBgekUcM" />
    </form>



            </div>
        </div>
    


    


        </main>
      </div>
    
{% endblock %}