{% extends "layouts/main-claim-v1-2-1.html" %}

{% set pageName="Confirmation" %}


{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<br>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        
        
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Claim submitted
            </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>SJV1629G</strong>
          </div>
        </div>
        
        
      
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <p class="govuk-body" style="margin: 0;">We have sent you a confirmation email.</p>
        



          <!--
          <a href="javascript:void(0);" onclick="window.print();" style="text-decoration: none;">
            <div style="width: 141px; height: 40px; position: relative;">
              <div style="width: 141px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #BCBDBF solid;"></div>
              <div style="width: 141px; right: 0; top: 8px; position: absolute; text-align: center; color: #1D70B8; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; line-height: 25px; word-wrap: break-word;">Print this page</div>
            </div>
          </a>
          
        -->



        </div>
        
        <br><br>
        
        
        
        
        
        
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ve sent your claim to the Rural Payments Agency (RPA).</p>
        <p class="govuk-body">They’ll contact you to tell you if your claim has been successful, or to ask for more information.</p>
        <p class="govuk-body">It normally takes around 30 days to process claims, but it can take longer if we need more information.</p>
        <p class="govuk-body">
        We may also contact you to organise a site visit.</p>
        <br>

        <h2 class="govuk-heading-m">Track and manage your claim</h2>
        <p class="govuk-body">Sign in to the claim money for a farming grant service to track and manage your claim.</p>
        <br>

        <h2 class="govuk-heading-m">Contact the RPA</h2>
        <p class="govuk-body">If you have any questions, call the RPA and follow the options for the Farming Equipment and Technology Fund scheme.</p>

        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body">
          <a href="#">FETFClaims@rpa.gov.uk</a></p>
         </p


        <br>

        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">Telephone: 03000 200 301<br>
       Monday to Friday, 8:30am to 5pm (except public holidays)</p>

              <br><br><br> 

       <p class="govuk-body">
        <a href="../../claim/v1-2-1/email-submitted">Go to email</a></p>
       </p>

       
 
      </div>
    </div>
  </main>
</div>

{% endblock %}