{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Claim for a Water Management Grant</span>
    <h1 class="govuk-heading-xl">Check your claim</h1>

<br><br>


    <div class="govuk-width-container">
    
      <div style="width: 640px; height: 240px; position: relative">
        <div style="width: 640px; left: 0px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">1. Claim form </div>
        <div style="width: 630px; height: 0px; left: 0px; top: 163px; position: absolute; border: 0.5px #B1B4B6 solid"></div>
        <div style="width: 630px; height: 147px; left: 0px; top: 5px; position: absolute">
          <div style="width: 149.55px; left: 0px; top: 56px; position: absolute; color: black; font-size: 24px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">Files added</div>
          <div style="width: 105.03px; left: 524.97px; top: 0px; position: absolute; text-align: right; color: #1D70B8; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; text-decoration: underline; line-height: 30px; word-wrap: break-word">Change</div>
          <div style="width: 440px; left: 0px; top: 117px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Claim1_Water_Management_Grant_FTF.docx , 100KB</div>
        </div>
      </div>
      <div style="width: 640px; height: 1659px; position: relative">
        <div style="width: 640px; left: 0px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">2. Evidence</div>
        <div style="width: 367.50px; left: 0px; top: 61px; position: absolute; color: black; font-size: 24px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">Files added</div>
        <div style="width: 105px; left: 525px; top: 5px; position: absolute; text-align: right; color: #1D70B8; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; text-decoration: underline; line-height: 30px; word-wrap: break-word">Change</div>
        <div style="width: 630px; height: 389px; left: 0px; top: 1270px; position: absolute">
          <div style="width: 546.48px; height: 29px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">Proof conditions and outputs have been met</div>
          <div style="width: 137.14px; left: 492.86px; top: 2px; position: absolute; text-align: right; color: #505A5F; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">6 files</div>
          <div style="width: 524.83px; left: 0px; top: 39px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 25px; word-wrap: break-word">Only for projects with grant-specific conditions and outputs</div>
          <div style="width: 630px; height: 50px; left: 0px; top: 84px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Improved irrigation 1.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 135px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Improved irrigation 2.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 186px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Increased production.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 237px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Lowered water waste.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 288px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Improved infrastructure.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 339px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Improved technical skills.pdf , 3MB</div>
          </div>
        </div>
        <div style="width: 630px; height: 287px; left: 0px; top: 132px; position: absolute">
          <div style="width: 392.85px; height: 29px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">Proof items have been purchased</div>
          <div style="width: 421.03px; left: 0px; top: 39px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 25px; word-wrap: break-word">For example, invoices</div>
          <div style="width: 137.14px; left: 492.86px; top: 2px; position: absolute; text-align: right; color: #505A5F; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">4 files</div>
          <div style="width: 630px; height: 50px; left: 0px; top: 84px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pipe - invoice.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 135px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pump - invoice.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 186px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir seal - invoice.pdf , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 237px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir clips - invoice.pdf , 3MB</div>
          </div>
        </div>
        <div style="width: 630px; height: 312px; left: 0px; top: 469px; position: absolute">
          <div style="width: 392.85px; height: 29px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">Proof items have been paid for</div>
          <div style="width: 137.14px; left: 492.86px; top: 2px; position: absolute; text-align: right; color: #505A5F; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">4 files</div>
          <div style="width: 539.26px; left: 0px; top: 39px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 25px; word-wrap: break-word">For example, receipts and bank statements (you can cross out other transactions)</div>
          <div style="width: 630px; height: 50px; left: 0px; top: 109px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pipe - receipt.pdf , 2MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 160px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pump - receipt.pdf , 2MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 211px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir seal - bank statement.pdf , 2MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 262px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir clips - bank statement.pdf , 2MB</div>
          </div>
        </div>
        <div style="width: 630px; height: 389px; left: 0px; top: 831px; position: absolute">
          <div style="width: 392.85px; height: 29px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: GDS Transport Website; font-weight: 700; line-height: 30px; word-wrap: break-word">Proof items are in place</div>
          <div style="width: 137.14px; left: 492.86px; top: 2px; position: absolute; text-align: right; color: #505A5F; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">6 files</div>
          <div style="width: 421.03px; left: 0px; top: 39px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 25px; word-wrap: break-word">For example, photos and videos</div>
          <div style="width: 630px; height: 50px; left: 0px; top: 84px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pipe - location1.jpg , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 135px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pipe - location2.jpg , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 186px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pump - location1.jpg , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 237px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir pump - location2.jpg , 3MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 288px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir seal - location1.jpg , 2MB</div>
          </div>
          <div style="width: 630px; height: 50px; left: 0px; top: 339px; position: absolute">
            <div style="width: 630px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 1px 0px #B1B4B6"></div>
            <div style="width: 630px; left: 0px; top: 10px; position: absolute; color: black; font-size: 19px; font-family: GDS Transport Website; font-weight: 300; line-height: 30px; word-wrap: break-word">Reservoir clips - location1.mp4 , 12MB</div>
          </div>
        </div>
      </div>

<br><br><br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>


</main>

{% endblock %}