{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<a href="#" class="govuk-back-link">Back</a>



<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Submit first claim</span>
    <h1 class="govuk-heading-xl">Download claim form</h1>
    
    <h2 class="govuk-heading-m">Form</h2>
    <span class="govuk-body">Download the claim form and fill it in.<br><br>

    <span class="govuk-body-l"> <a href="...">Grant claims form</a>
    <img src="/public/images/FTF_claim_form.png" alt="Small screenshot showing page one of the grant funding agreement." class="download-thumbnail">
        <br><br>
      <p class="govuk-body-s sbi-number">DOCX, 74kb, 7 pages.</p>
    </span>

    <br><br> 

    <p></p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Request an accessible format
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">This form may not be suitable for users of assistive technology.</p>
        <p class="govuk-body">If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please contact the RPA.</p>
        <p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)</p>
        <p class="govuk-body"><strong>Email</strong><br><a href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a></p>
      </div>
    </details>




    <hr style="margin: 50px 0;">

    <h3 class="govuk-heading-m">What you need to do</h3>
    <span class="govuk-body">Download and complete the claim form.</span>
     <br><br>
    <p class="govuk-body">When you are ready, you can <a href="https://app.mural.co/t/dcx6016/m/dcx6016/1680772774235/818de9cbf49a0707a8fe625bbf1ce9bdaaac6440?sender=u6609daa1d6d5f14bc3eb0833" target="_blank">upload your claim form and evidence</a>  and submit your claim.</p>
  
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Do not upload scanned copies or PDFs of this form.
      </strong>
    </div>

      <hr style="margin: 50px 0;">

      <h3 class="govuk-heading-m">Evidence you need to make a claim</h3>
         <br>
        <p class="govuk-body">To make a claim, you must provide evidence that each item you are claiming for:<br>
          <ul class="govuk-list govuk-list--bullet">
            <li>has been purchased (for example, invoices)</li>
            <li>has been paid for in full (for example, receipts and bank statements)</li>
            <li>is in place (for example, photos, videos)</li>
          </ul>
        </p>
    
        <p><a class="govuk-link" href="#high-fidelity-design">Check guidance on how to make a claim (opens in a new tab)</a></p>


<br><br><br>

<button class="govuk-button" data-module="govuk-button">
        Continue    
      </button>



    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Questions about your claim
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">If you have any questions about your claim, call the RPA and follow the options for the Farming Transformation Fund scheme.</p>
        <p class="govuk-body"><strong>Telephone</strong><br>Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm (except public holidays)</p>
        <p class="govuk-body"><strong>Email</strong><br><a href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a></p>
      </div>
    </details>









</main>

{% endblock %}