{% extends "layouts/main-agreement-round-2.html" %}

{% set pageName="Home" %}

{% block content %}


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">October 2023</span>
    <h1 class="govuk-heading-xl">
      Claim
    </h1>

    <h2 class="govuk-heading-l">FTF Claim Prototypes</h2>

    <p class="govuk-body-l">Scenario: Start your first claim</p><br>
        
    
    
    <h3 class="govuk-heading-m">1. Claim journey</h3>

    <p class="govuk-body"><a href="/ftf/claim/v2-0/index" target="_blank">V2.0: Full page: Type (opens in a new tab)</a></p>

    <hr style="margin: 40px 0;">



    <h3 class="govuk-heading-m">2. Evidence categories</h3>

    <p class="govuk-body"><a href="/ftf/claim/v2-0/upload2" target="_blank">V2.0: Full page: Type (opens in a new tab)</a></p>
    <p class="govuk-body"><a href="/ftf/claim/v2-1/upload2" target="_blank">V2.1: Full page: Proof (opens in a new tab)</a></p>
    <p class="govuk-body"><a href="/ftf/claim/v2-6/upload2" target="_blank">V2.6: Full page: Proof + (opens in a new tab)</a></p>


    <hr style="margin: 40px 0;">



    <h3 class="govuk-heading-m">3. Upload task</h3>

    <p class="govuk-body-m"><strong>Type of evidence</strong></p>

    <p class="govuk-body"><a href="/ftf/claim/v2-0/upload2" target="_blank">V2.0: Full page (opens in a new tab)</a></p> 
    <p class="govuk-body"><a href="/ftf/claim/v2-2/upload2" target="_blank">V2.2: Accordion (opens in a new tab)</a></p> 
    <p class="govuk-body"><a href="/ftf/claim/v2-4/upload2" target="_blank">V2.4: Links (opens in a new tab)</a></p> 

<!--<p    <p class="govuk-body"><strong> v2.2: Links (type)</strong></p> -->
<!--<p class="govuk-body"><a href="/ftf/claim/v2-2/upload2" target="_blank">Click to open prototype (opens in a new tab)</a></p> -->

<br>

    <p class="govuk-body-m"><strong>Proof of evidence</strong></p>

    <p class="govuk-body"><a href="/ftf/claim/v2-1/upload2" target="_blank">V2.1: Full page: Proof (opens in a new tab)</a></p> 
    <p class="govuk-body"><a href="/ftf/claim/v2-3/upload2" target="_blank">V2.3: Accordion: Proof (opens in a new tab)</a></p> 
    <p class="govuk-body"><a href="/ftf/claim/v2-5/upload2" target="_blank">V2.5: Links: Proof (opens in a new tab)</a></p> 


    <hr style="margin: 40px 0;">

    <h3 class="govuk-heading-m">4. Review claim form</h3>

    <p class="govuk-body"><a href="/public/downloads/ftf/FTF-Claim-Form.pdf" target="_blank">FTF Claim form (opens in a new tab)</a></p> 


  </div>
</div>

<br><br>


</main>

{% endblock %}