{% extends "layouts/main-agreement-round-2.html" %}

{% set pageName="Home" %}

{% block content %}


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">September 2023</span>
    <h1 class="govuk-heading-xl">
      Claim
    </h1>

    <h2 class="govuk-heading-l">Prototypes</h2>

    <p class="govuk-body-l">Scenario: Start your first claim</p><br>
    
    <p class="govuk-body"><strong>FTF Claim v2.1: Types of evidence</strong></p>
    <p class="govuk-body"><a href="/ftf/claim/v2-1/index">Click to open protoype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>FTF Claim v2.2: Proof of evidence</strong></p>
    <p class="govuk-body"><a href="/ftf/claim/v2-2/upload2">Click to open prototype</a></p>
    
    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>FTF Claim v2.3: Pages of evidence</strong></p>
    <p class="govuk-body"><a href="/ftf/claim/v2-3/upload2">Click to open prototype</a></p>

  </div>
</div>

</main>

{% endblock %}