{% extends "layouts/main-agreement-round-2.html" %}

{% block pageTitle %}
Review terms and conditions
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
}) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="../../activity-list/v3-0/index?status=03&eoi=03b&apply=03b&agree=02d&claim-01=01&claim-02=0&claim-03=0">


        <span class="govuk-caption-xl">Sign agreement</span>
        <h1 class="govuk-heading-xl">Review terms and conditions</h1>

        {% include "../../_includes/body-content_terms-and-conditions-main-block.html" %}


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="agreement" name="agreement" type="checkbox" value="agreementConfirmed">
                <label class="govuk-label govuk-checkboxes__label" for="countries">
                  I confirm that I have read, understood and agree to the terms and conditions
                </label>
              </div>
            </div>
          </fieldset>
        </div>

          {{govukButton({
              text: "Save and continue"
          })}}
        
          <span class="content-section">
            <h2 class="govuk-heading-m">Withdrawing your agreement</h2>
            <p class="govuk-body">If you do not want to accept your agreement, you should <a href="/_common/not-testing.html">withdraw your application</a>.</p>
          </span>

        </form>


      </div>
      <div class="govuk-grid-column-one-third">
        <!-- SIDE COLUMN BLOCK -->
      </div>
    </div>
  </main>
</div>

{% endblock %}
