{% extends "layouts/main-end-to-end.html" %}

{% block pageTitle %}
  Farming Transformation Fund
{% endblock %}

{% set pageName="Home" %}

{% block content %}


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">February 2024</span>
    <h1 class="govuk-heading-l">
      Farming Transformation Fund  
    </h1>

    <!-- <p class="govuk-body-l">Scenario: Read and sign your grant funding agreement</p> -->

    <p class="govuk-body"><strong>January 2024</strong> Awareness / Expression of Interest</p>
    <p class="govuk-body"><a href="awareness/">Click to open protoype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>May 2024</strong> Application</p>
    <p class="govuk-body"><a href="application/v3-0/">Click to open prototype</a></p>
    
    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>August 2024</strong> Agreement</p>
    <p class="govuk-body"><a href="agreement/v2-0/">Click to open prototype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>October 2024</strong> Claim</p>
    <p class="govuk-body"><a href="claim/v3-0/">Click to open prototype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>February 2026</strong> Monitoring Year 1</p>
    <p class="govuk-body"><a href="monitoring/v1-0/">Click to open prototype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>February 2030</strong> Monitoring Year 5</p>
    <p class="govuk-body"><a href="monitoring/v1-0_y5/">Click to open prototype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>Change request</strong></p>
    <p class="govuk-body"><a href="activity-list/v3-0/index?status=03&eoi=03b&apply=03b&agree=02a&claim-01=01&claim-02=0&claim-03=0" target="_blank">Click to open prototype</a></p>


    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>Activity list</strong> Alternate designs</p>
    <p class="govuk-body"><a href="activity-list/v3-0/index-design-variant-01?scenario=application&status=01a&eoi=01&apply=01&agree=01" target="_blank">Design variant 1</a></p>
    <p class="govuk-body"><a href="activity-list/v3-0/index-design-variant-02?scenario=application&status=01a&eoi=01&apply=01&agree=01" target="_blank">Design variant 2</a></p>

  </div>
</div>

</main>

{% endblock %}