{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Check your business and contact details {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
<a href="equipment-list" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your business and contact details</h1>
    <p class="govuk-body">You must confirm that your business and contact details are correct.</p>
    <!-- <p class="govuk-body">Changes in this section will update your Rural Payments service account.</p> -->

    <h2 class="govuk-heading-m" style="float: left;">Applicant details</h2>
    <p class="govuk-body" style="float: right;"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> applicant details</span></a>
    </p>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          John Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          john.smith@gmail.com
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile phone number
        </dt>
        <dd class="govuk-summary-list__value">
          07701234567
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m" style="float: left;">Business details</h2>
    <p class="govuk-body" style="float: right;"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> business details</span></a>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          Imaginary Farms Ltd
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single Business Identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          987654321
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business address
        </dt>
        <dd class="govuk-summary-list__value">
          Address line 1<br>
          Address line 2<br>
          Region
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business phone number
        </dt>
        <dd class="govuk-summary-list__value">
          08001234567
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business legal status
        </dt>
        <dd class="govuk-summary-list__value">
          Limited Company
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business activity
        </dt>
        <dd class="govuk-summary-list__value">
          Farming crops
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certificate of incorporation reference number
        </dt>
        <dd class="govuk-summary-list__value">
          01234567
        </dd>
      </div>
    </dl>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</div>
</div>
</main>

{% endblock %}