{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
<a href="equipment-list" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-land-details" method="post">

      <span class="govuk-caption-l">About your business</span>
      <h1 class="govuk-heading-l">Land details</h1>
      <p>Enter your hectares rounded to the approximate whole number in digits.</p>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="agriculture-hectares">
            Agriculture - area of farm in hectares
          </label>
        </h2>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="agriculture-hectares" name="agricultureHectares" type="text" spellcheck="false" inputmode="numeric">
          <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
        </div>

        <br><br><br>

        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="horticulture-hectares">
            Horticulture - area of nursery in hectares
          </label>
        </h2>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="horticulture-hectares" name="horticultureHectares" type="text" spellcheck="false" inputmode="numeric">
          <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
        </div>

        <br><br><br>

        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="forestry-hectares">
            Foresty - area of woodland in hectares
          </label>
        </h2>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="forestry-hectares" name="forestryHectares" type="text" spellcheck="false" inputmode="numeric">
          <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
        </div>

        <br><br><br>

        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="forestry-parcels">
            If you are a forestry owner provide the relevant land parcel IDs
          </label>
        </h2>
        <textarea class="govuk-textarea" id="forestry-parcels" name="forestryParcels" rows="3"></textarea>
      </div>


    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}