{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf-land-details" method="post">

      
      <div class="govuk-form-group">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Apply</span>
            <h1 class="govuk-fieldset__heading">
              What do you use your land for?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Select all that apply. Enter approximate hectares in whole number.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" for="contact">
                Agriculture
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Area of farm
                </label>
                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="agriculture-hectares" name="agricultureHectares" type="text" spellcheck="false" inputmode="numeric">
                  <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
                </div>
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                Horticulture
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Area of nursery
                </label>
                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="agriculture-hectares" name="agricultureHectares" type="text" spellcheck="false" inputmode="numeric">
                  <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
                </div>
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                Forestry
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Area of woodland
                </label>
                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="agriculture-hectares" name="agricultureHectares" type="text" spellcheck="false" inputmode="numeric">
                  <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
                </div>
                <br>
               
              </h2>
              <br>
              
              <div class="govuk-form-group">
                <label class="govuk-label" for="width-4">
                  Enter relevant land parcel IDs, for example 3903
                </label>
                <input class="govuk-input govuk-input--width-4" id="width-4" name="width4" type="text">
                
              </div>
              </div>
              <br>
              <a href="#" class="govuk-link">Add another land parcel ID</a>
            </div>
          </div>
          <br>
        </fieldset>
      </div>

      

    







    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    </form>

  </div>

</div>



</main>

{% endblock %}