{% extends "layouts/main-claim-v5-0.html" %}

{% block pageTitle %}
Start your claim
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{% endblock %}


{% block content %}


{% include "../../_includes/sub-header_business-agent-details.html" %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



  <span class="govuk-caption-xl">Farming Equipment and Technology Fund 2024
  </span>
  <h1 class="govuk-heading-xl">Improve productivity grant</h1>


<span class="content-section">
{% include "../../_includes/activity-list_status-block.html" %}
</span>


<ol class="govuk-prototype-kit-task-list">
  <!-- {% include "../../_includes/activity-list_task-section_apply.html" %}
  {% include "../../_includes/activity-list_task-section_agreement.html" %} -->
  {% include "../../_includes/activity-list_task-section_claim_v5-0.html" %}
</ol>

{% if (data['fetf-status'] == "01c") or (data['fetf-status'] == "02") or (data['fetf-status'] == "03") %}
<p class="govuk-body withdraw-link"><a href="../../../_common/not-testing">Withdraw grant application</a></p>
{% endif %}



</div>
</div>
</main>

{% endblock %}
