{% extends "layouts/main-fetf.html" %}

{% set pageName="Help" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}



<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    


    












    
    {% if scoreTotal/data['selected-items'].length < 50 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Your score is below the minimum threshold of 55, which makes you ineligiable",
          href: "#"
        }
      ]
    }) }}


    {% elseif grantTotal > 35156 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Your items are above the maximum grant amount of £50,000",
            href: "#"
          }
        ]
      }) }}
   

    {% elseif grantTotal >= 1 and grantTotal <= 1000 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Your items do not meet the minimum grant amount of £1,000",
            href: "#"
          }
        ]
      }) }}
    {% endif %}

  
  


  

   
    <h1 class="govuk-heading-l">What do you want to change?</h1>
    <p class="govuk-body">The minimum grant you can apply for is £1,000 and the maximum is £50,000.</p>
<table class="govuk-table">


  <caption class="govuk-table__caption govuk-table__caption--m add-hr" >Items summary</caption>
  <thead class="govuk-table__head">
    <tr class=".govuk-table-row-selected-item">
      <th scope="col" class="govuk-table__header">Item</th>
      <th scope="col" class="govuk-table__header"id="selected-items-dummy" >Code</th>
      <th scope="col" class="govuk-table__header" id="selected-items-dummy">Quantity</th>
      <th scope="col" class="govuk-table__header" id="selected-items-dummy" >Grant amount</th>
      <th scope="col" class="govuk-table__header" id="selected-items-dummy" >Score</th>
      <th scope="col" class="govuk-table__header" ></th>
    </tr>
  </thead>
    <tbody class="govuk-table__body" >

 <!-- Dummy row -->
      
      <tr class="govuk-table__row" id="selected-items-dummy__row">
        <td class="govuk-table__cell add-item" id="selected-items-dummy-bold">Bracken roller</td>
        <td class="govuk-table__cell add-code" id="selected-items-dummy" >FETF414</td>
        <td class="govuk-table__cell add-quantity" id="selected-items-dummy">3&nbsp;&nbsp;<a href="edit" class="govuk-body-s">Edit</a></td>
        <td class="govuk-table__cell add-grant" id="selected-items-dummy">£2,608.20</td>
        <td class="govuk-table__cell add-score" id="selected-items-dummy">65</td>
        <td class="govuk-table__cell"><a href="#" class="govuk-body-s" style="text-align: right;">Remove</a></td>
      </tr>

      <tr class="govuk-table__row" id="selected-items-dummy__row">
        <td class="govuk-table__cell add-item" id="selected-items-dummy-bold">Electronic tray filling machine</td>
        <td class="govuk-table__cell add-code" id="selected-items-dummy" >FETF1</td>
        <td class="govuk-table__cell add-quantity" id="selected-items-dummy">3&nbsp;&nbsp;<a href="edit" class="govuk-body-s">Edit</a></td>
        <td class="govuk-table__cell add-grant" id="selected-items-dummy">£7,422.00</td>
        <td class="govuk-table__cell add-score" id="selected-items-dummy">65</td>
        <td class="govuk-table__cell"><a href="#" class="govuk-body-s" style="text-align: right;">Remove</a></td>
      </tr>

     
<!-- End of dummy row -->







      
      <tr class="govuk-table__row" id="selected-items-dummy__row">
        <th scope="row" class="govuk-table__cell" id="mobile-hide"><strong>Total requested grant amount</strong></th>
        <td class="govuk-table__cell" id="mobile-hide"></td>
        <td class="govuk-table__cell" id="mobile-hide"></td>
        <td class="govuk-table__cell add-total-grant"id="selected-item-dummy" ><strong> £2,608.20</strong></td>
        <td class="govuk-table__cell add-total-score" id="selected-item-dummy"><strong>65</strong></td>
      <td class="govuk-table__cell" id="mobile-hide"></td>
      </tr>
    </tbody>
</table>

<br><br>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    
 






  

<div class="govuk-button-group">
  <a class="govuk-button" href="upload-evidence" >
    Apply for these items
  </a>
  <a class="govuk-button govuk-button--secondary" href="/fetf/claim/v5-0/equipment-list">
    Select more items
  </a>
</div>






</div>
</div>
</main>






{% endblock %}