{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Confirmation" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<br>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        
        
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Application submitted
            </h1>
         
          
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        
        
      
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <p class="govuk-body" style="margin: 0;">We have sent you a confirmation email.</p>
        

          <!--
          <a href="javascript:void(0);" onclick="window.print();" style="text-decoration: none;">
            <div style="width: 141px; height: 40px; position: relative;">
              <div style="width: 141px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #BCBDBF solid;"></div>
              <div style="width: 141px; right: 0; top: 8px; position: absolute; text-align: center; color: #1D70B8; font-size: 19px; font-family: Arial, Helvetica; font-weight: 300; line-height: 25px; word-wrap: break-word;">Print this page</div>
            </div>
          </a>
          -->
        </div>
        
        <br><br>
        
        
        
        
        
        
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          The RPA aim to process complete applications within 60 working days.<br><br>
          The RPA will be in touch when they have assessed your full application. They will tell you if your project scored well enough to receive grant funding.<br><br>The RPA will assess your application against other projects and value for money. You will not automatically get a grant. The grant is expected to be highly competitive and you are competing against other projects.<br><br>If your application is successful, you’ll be sent a grant funding agreement and can begin work on the project.<br><br>
        </p>

     


          <h2 class="govuk-heading-m">Withdrawing your application</h2>


          <p class="govuk-body">If you do not want the grant funding, you can <a href="/_common/not-testing.html">withdraw your application</a> before you make a claim.</p>

          <br>







        {% include "../../../_includes/details-block_application-questions-contact.html" %}

       <br><br>




       <p class="govuk-body">
        <a href="../../../activity-list/v2-0/index?fetf-status=01c&fetf-apply=03a&fetf-agree=01&fetf-claim=01">Go back to the task list</a></p>
       </p>

       
 
      </div>
    </div>
  </main>
</div>

{% endblock %}