{% extends "layouts/main-fetf.html" %}

{% set pageName="Submit" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}



<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/fetf/claim/v1-0/confirmation" method="post">

    <span class="govuk-caption-xl">Claim for a FETF Grant</span>
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Submit claim</h1>
    <span class="govuk-body">Read and agree to submit your claim.</span>

<br><br><br>


    <h2 class="govuk-heading-m">Declaration</h2>


    <p class="govuk-body">I declare that:<br>
      <ul class="govuk-list govuk-list--bullet">
        <li>I have complied with and will continue to comply with my grant funding agreement.</li>
        <li>I have checked the information is correct and I accept full responsibility for it.</li>
        <li>I understand that under the terms of my grant funding agreement, payment may be withheld and/or recovered if I have breached my grant funding agreement.</li>
        <li>I am submitting invoices, records, accounts and other required evidence (for example photographs) relevant to this claim, and will keep copies of that evidence in accordance with my grant funding agreement.</li>
      </ul>
      <br>


      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive"></span>
          If you knowingly or recklessly make a false statement to obtain payments to yourself or others, you risk prosecution, termination of any resulting agreement, and recovery of any monies paid to you under the scheme. You may be excluded from this scheme and from other financial assistance under the Agriculture Act 2020 for up to two years.        </strong>
        </div>


    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I understand and agree with the above statements
        </label>
      </div>


<br><br><br>





<div class="govuk-button-group">
 
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Submit claim
  </button>

  <br>
  
  </form>
  
  
  
    <a href="/fetf/claim/v1-0/index?fetf-status=03&fetf-apply=03b&fetf-agree=03&fetf-claim=02d" class="govuk-link">
      Cancel
    
    </a>
  </div>




  




</main>

{% endblock %}