

{% extends "layouts/main-fetf.html" %}

{% block pageTitle %}
  Upload evidence
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}


<br><br>


  <div class="govuk-grid-row">

 


      <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-xl">Submit claim</span>
              <h1 class="govuk-heading-xl">Upload claim evidence</h1>
              <h2 class="govuk-heading-m">Item description</h2>
              <ul class="govuk-task-list">
                {% set grantTotal = 0 %}
                {% set scoreTotal = 0 %}
                {% for item in data['selected-items'] %}
                  {% set grantTotal = grantTotal + item.grantTotal %}
                  {% set scoreTotal = scoreTotal + item.score %}










                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                  <div class="govuk-task-list__name-and-hint">
                    
                    <a  id="linked-data" tabindex="-1" class="govuk-link govuk-task-list__link" href="/fetf/claim/v1-0/{{ item.termName | lower | replace(' ', '-') }}" aria-describedby="before-you-start-1-status">
                      {{ item.title }}&nbsp;(FETF{{ item.itemCode }})
                    </a>
                  </div>

                  {% if (data['01'] == "n") %}

                  <!-- Change item.itemCode back to data['test'] -->


                  <div class="govuk-task-list__status" id="application-details-4-status">
                    <strong class="govuk-tag govuk-tag--blue">
                      Not yet started
                    </strong>
                </div>

                {% elif (data['01'] == "i") %}

                <div class="govuk-task-list__status" id="application-details-4-status">
                  <strong class="govuk-tag govuk-tag--light-blue">
                    In progress
                  </strong>
              </div>
              {% elif (data['01'] == "c") %}


                  <div class="govuk-task-list__status" id="before-you-start-1-status">
                    Completed
                  </div>
                </li>

                {% endif %}
                {% endfor %}
                
              </ul>
             
              <a href="summary">
                <button class="govuk-button">
                  Save and continue
                </button>
              </a>
            </div>
          </div>
        </main>
      </div>


      
      

 







      


  {% include "../../_includes/details-block_claim-questions-contact.html" %}

  <br><br>

    </div>
  </div>

</main>



{% endblock %}