{% extends "layouts/main-agreement-round-2.html" %}

{% set pageName="Home" %}

{% block content %}


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">September 2023</span>
    <h1 class="govuk-heading-xl">
      Grant funding agreement
    </h1>

    <h2 class="govuk-heading-l">Prototypes</h2>

    <p class="govuk-body-l">Scenario: Read and sign your grant funding agreement</p>
    <p class="govuk-body"><strong>FTF grant funding agreement - version 1.0</strong></p>
    <p class="govuk-body"><a href="/ftf/agreement/v1-2/email" target="_blank">Click to open protoype</a></p>

    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>FTF grant funding agreement - version 2.0</strong></p>
    <p class="govuk-body"><a href="/ftf/agreement/v1-3/email" target="_blank">Click to open prototype</a></p>
    
    <hr style="margin: 40px 0;">
    <p class="govuk-body"><strong>FETF grant funding agreement</strong></p>
    <p class="govuk-body"><a href="/fetf/agreement/v1-2/email" target="_blank">Click to open prototype</a></p>

  </div>
</div>

</main>

{% endblock %}