{% extends "layouts/main-application-round-2.html" %}

{% set pageName="Upload2" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<a href="#" class="govuk-back-link">Back</a>



<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Upload evidence</span>
    <h1 class="govuk-heading-xl">Financial accounts</h1>
    <h2 class="govuk-body" style="margin-top: -20px;">Upload evidence how the business will pay for the project.</h2>
  



    <p class="govuk-body">If you do not have 3 years of full accounts, you need to provide evidence how you will successfully deliver the project.</p>


     

    <p class="govuk-body">This could be through:<br>
      <ul class="govuk-list govuk-list--bullet">
        <li>tax returns</li>
        <li>a statement from a qualified accountant that includes planned financing (loans or equity invested into the business), expected income and operating expenses </li>
        <li>draft financial statements or management accounts showing financial performance during the early period of trading </li>
        <li>a profit and loss, and balance sheet summary</li>
      </ul>
    </p>

<br>

    <p class="govuk-body"><strong>Abridged accounts</strong></p>

    <p class="govuk-body">If you produce abridged accounts, you need to provide a statement endorsed by a qualified accountant that shows:<br>
      <ul class="govuk-list govuk-list--bullet">
        <li>turnover</li>
        <li>cost of sales</li>
        <li>direct costs</li>
        <li>gross profit</li>
      </ul>
    </p>












    <hr style="margin: 50px 0;">


    <h1 class="govuk-heading-l">Evidence</h1>




    <p class="govuk-body" style="color: #505A5F;">Supported file types are PDF, DOC, DOCX, XLS, XLSX or JPG. Maximum file size is 20MB.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
        Do not password protect files.
      </strong>
    </div>

  
    



    <div style="width: 397px; height: 68px; position: relative">
      <div style="width: 107px; height: 31px; left: 0px; top: 37px; position: absolute">
        <div style="width: 107px; height: 31px; left: 0px; top: 0px; position: absolute; background: #F3F2F1; border-radius: 2px; border: 1px #8D8C8A solid"></div>
        <div style="width: 105px; height: 24px; left: 1px; top: 6px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Arial; font-weight: 400; line-height: 20px; word-wrap: break-word">Choose file</div>
      </div>
      <div style="width: 285px; height: 25px; left: 112px; top: 39px; position: absolute; color: black; font-size: 18px; font-family: Arial, Helvetica; font-weight: 300; line-height: 30px; word-wrap: break-word">3 files</div>
      <div style="width: 192px; height: 25px; left: 0px; top: 0px; position: absolute; color: black; font-size: 19px; font-family: Arial, Helvetica; font-weight: 700; line-height: 30px; word-wrap: break-word">Upload a file</div>
    </div>

    <br><br>



    <a href="financial3b">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Upload file
      </button>
    </a>



</main>


<a href="upload2?02=ready">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</a>



{% endblock %}