{% extends "layouts/main-claim-round-2.html" %}

{% set pageName="Download claim form" %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="../index.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<a href="#" class="govuk-back-link">Back</a>



<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#doc1">Download the claim form to continue</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Add event listeners to the doc1 and doc2 links
    document.querySelector('a[href="#doc1"]').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default link behavior
      // Scroll to the application form link and focus on it
      document.querySelector('a[href="/public/downloads/ftf/FTF-Claim-Form.docx"]').scrollIntoView({ behavior: 'smooth', block: 'start' });
      document.querySelector('a[href="/public/downloads/ftf/FTF-Claim-Form.docx"]').focus();
    });
    
  });
</script>


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Submit first claim</span>
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Download claim form</h1>

    
<br><br>

<h3 class="govuk-heading-m">What you need to do</h3>
    <span class="govuk-body">Download and complete the claim form.</span>
     <br><br>
    <p class="govuk-body">When you are ready to submit your claim, <a href="/_common/not-testing.html">upload your claim form and evidence</a>.</p>
  
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
        Do not upload scanned copies or PDFs of the claim form.
      </strong>
    </div>

      <hr style="margin: 50px 0;">


      <h3 class="govuk-heading-m">Document</h3>
      <br>

    <div class="govuk-form-group govuk-form-group--error" style="display: flex; align-items: flex-start;">
      <img src="/public/images/FTF_claim_form.png" alt="Small screenshot showing page one of the grant funding agreement." class="download-thumbnail" style="margin-right: 10px;">
      <div>
        <a href="/public/downloads/ftf/FTF-Claim-Form.docx" download="Application form - Water Management grant - FTF.docx" style="font-size: 24px; display: block;">Claim form: Water Management grant</a><br>
        <p id="whoAreYou-error" class="govuk-error-message">Download the claim form to continue</p>
        <p class="govuk-body-s sbi-number">DOCX, 97.3 KB, 7 pages</p>
      </div>
    </div>


<br>


    
    {% include "../../../_includes/details-block_request-accessible-format.html" %}



    <hr style="margin: 50px 0;">

    

      <h3 class="govuk-heading-m">Evidence you need to make a claim</h3>
         <br>
        <p class="govuk-body">To make a claim, you must provide evidence that each item you are claiming for:<br>
          <ul class="govuk-list govuk-list--bullet">
            <li>has been purchased (for example, invoices)</li>
            <li>has been paid for in full (for example, receipts and bank statements – you can cross out other transactions)</li>
            <li>is in place and operational (for example, photos, videos)</li>
          </ul>
        </p>
    
        <p><a class="govuk-link" href="/_common/not-testing.html" target="_blank">Read more about how to make a claim (opens in a new tab)</a></p>


<br><br>


      <a href="../../activity-list/v3-0/index?status=04&eoi=03b&apply=03b&agree=03&claim-01=02b&claim-02=01&claim-03=01">
        <button class="govuk-button">
          Continue
        </button>
      </a>




    {% include "../../../_includes/details-block_claim-questions-contact.html" %}



</main>

{% endblock %}